### Ref. datacamp

In [12]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv('./pandasDataSets/weather_data_austin_2010.csv')

In [5]:
df1.head()

   Temperature  DewPoint  Pressure            Date
0         46.2      37.5       1.0  20100101 00:00
1         44.6      37.1       1.0  20100101 01:00
2         44.1      36.9       1.0  20100101 02:00
3         43.8      36.9       1.0  20100101 03:00
4         43.5      36.8       1.0  20100101 04:00

In [38]:
dd = {'Name': ['Swaroopa', 'Sushant', 'Champak'], 'Email': ['swaroopa.kadam07@gmail.com', 'sushant.2811@gmail.com',  ] }

In [40]:
ddf = pd.DataFrame(dd)

In [67]:
len(np.nan)

TypeError: object of type 'float' has no len()

In [41]:
ddf

                        Email      Name
0  swaroopa.kadam07@gmail.com  Swaroopa
1      sushant.2811@gmail.com   Sushant
2          campak@champak.com   Champak

In [42]:
ddf['Email']

0    swaroopa.kadam07@gmail.com
1        sushant.2811@gmail.com
2            campak@champak.com
Name: Email, dtype: object

In [43]:
email = 'sushant.2811@gmail.com'

In [44]:
len(email.split('@')[0])

12

In [63]:
f = lambda x: len(x.split('@')[0]) if len(x) > 0 else 0

In [60]:
ddf['lenEmail'] = ddf['Email'].apply(lambda x: (len(x.split('@')[0])))

In [64]:
ddf['lenEmailf'] = ddf['Email'].apply(f)

In [49]:
ddf.loc[:,'lenEmail']

0    16
1    12
2     6
Name: lenEmail, dtype: int64

In [65]:
ddf.loc[:,'lenEmailf']

0    16
1    12
2     6
Name: lenEmailf, dtype: int64

In [56]:
y = 2;

In [61]:
x = 3 if y >2

SyntaxError: invalid syntax (<ipython-input-61-62daf126ce66>, line 1)

In [58]:
x

0

In [6]:
df2 = pd.read_csv('./pandasDataSets/NOAA_QCLCD_2011_hourly_13904.txt')

In [7]:
df2.head()

,13904,20110101,0053,12,OVC045,,10.00,.1,.2,.3,...,.18,.19,29.95,.20,AA,.21,.22,.23,29.95.1,.24
0,13904,20110101,153,12,OVC049,,10.00,,,,...,,,30.01,,AA,,,,30.02,
1,13904,20110101,253,12,OVC060,,10.00,,,,...,030,,30.01,,AA,,,,30.02,
2,13904,20110101,353,12,OVC065,,10.00,,,,...,,,30.03,,AA,,,,30.04,
3,13904,20110101,453,12,BKN070,,10.00,,,,...,,,30.04,,AA,,,,30.04,
4,13904,20110101,553,12,BKN065,,10.00,,,,...,015,,30.06,,AA,,,,30.06,

In [8]:
df2_noheader = pd.read_csv('./pandasDataSets/NOAA_QCLCD_2011_hourly_13904.txt', header=None)

In [9]:
df2_noheader.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,13904,20110101,53,12,OVC045,,10.00,,,,...,,,29.95,,AA,,,,29.95,
1,13904,20110101,153,12,OVC049,,10.00,,,,...,,,30.01,,AA,,,,30.02,
2,13904,20110101,253,12,OVC060,,10.00,,,,...,030,,30.01,,AA,,,,30.02,
3,13904,20110101,353,12,OVC065,,10.00,,,,...,,,30.03,,AA,,,,30.04,
4,13904,20110101,453,12,BKN070,,10.00,,,,...,,,30.04,,AA,,,,30.04,

In [10]:
column_labels = 'Wban,date,Time,StationType,sky_condition,sky_conditionFlag,visibility,visibilityFlag,wx_and_obst_to_vision,wx_and_obst_to_visionFlag,dry_bulb_faren,dry_bulb_farenFlag,dry_bulb_cel,dry_bulb_celFlag,wet_bulb_faren,wet_bulb_farenFlag,wet_bulb_cel,wet_bulb_celFlag,dew_point_faren,dew_point_farenFlag,dew_point_cel,dew_point_celFlag,relative_humidity,relative_humidityFlag,wind_speed,wind_speedFlag,wind_direction,wind_directionFlag,value_for_wind_character,value_for_wind_characterFlag,station_pressure,station_pressureFlag,pressure_tendency,pressure_tendencyFlag,presschange,presschangeFlag,sea_level_pressure,sea_level_pressureFlag,record_type,hourly_precip,hourly_precipFlag,altimeter,altimeterFlag,junk'

In [20]:
column_labels_list = column_labels.split(',')

In [21]:
column_labels_list

['Wban',
 'date',
 'Time',
 'StationType',
 'sky_condition',
 'sky_conditionFlag',
 'visibility',
 'visibilityFlag',
 'wx_and_obst_to_vision',
 'wx_and_obst_to_visionFlag',
 'dry_bulb_faren',
 'dry_bulb_farenFlag',
 'dry_bulb_cel',
 'dry_bulb_celFlag',
 'wet_bulb_faren',
 'wet_bulb_farenFlag',
 'wet_bulb_cel',
 'wet_bulb_celFlag',
 'dew_point_faren',
 'dew_point_farenFlag',
 'dew_point_cel',
 'dew_point_celFlag',
 'relative_humidity',
 'relative_humidityFlag',
 'wind_speed',
 'wind_speedFlag',
 'wind_direction',
 'wind_directionFlag',
 'value_for_wind_character',
 'value_for_wind_characterFlag',
 'station_pressure',
 'station_pressureFlag',
 'pressure_tendency',
 'pressure_tendencyFlag',
 'presschange',
 'presschangeFlag',
 'sea_level_pressure',
 'sea_level_pressureFlag',
 'record_type',
 'hourly_precip',
 'hourly_precipFlag',
 'altimeter',
 'altimeterFlag',
 'junk']

In [13]:
df2_noheader.columns = column_labels_list

In [14]:
df2_noheader.head()

,Wban,date,Time,StationType,sky_condition,sky_conditionFlag,visibility,visibilityFlag,wx_and_obst_to_vision,wx_and_obst_to_visionFlag,...,presschange,presschangeFlag,sea_level_pressure,sea_level_pressureFlag,record_type,hourly_precip,hourly_precipFlag,altimeter,altimeterFlag,junk
0,13904,20110101,53,12,OVC045,,10.00,,,,...,,,29.95,,AA,,,,29.95,
1,13904,20110101,153,12,OVC049,,10.00,,,,...,,,30.01,,AA,,,,30.02,
2,13904,20110101,253,12,OVC060,,10.00,,,,...,030,,30.01,,AA,,,,30.02,
3,13904,20110101,353,12,OVC065,,10.00,,,,...,,,30.03,,AA,,,,30.04,
4,13904,20110101,453,12,BKN070,,10.00,,,,...,,,30.04,,AA,,,,30.04,

In [22]:
list_to_drop = ['sky_conditionFlag',
 'visibilityFlag',
 'wx_and_obst_to_vision',
 'wx_and_obst_to_visionFlag',
 'dry_bulb_farenFlag',
 'dry_bulb_celFlag',
 'wet_bulb_farenFlag',
 'wet_bulb_celFlag',
 'dew_point_farenFlag',
 'dew_point_celFlag',
 'relative_humidityFlag',
 'wind_speedFlag',
 'wind_directionFlag',
 'value_for_wind_character',
 'value_for_wind_characterFlag',
 'station_pressureFlag',
 'pressure_tendencyFlag',
 'pressure_tendency',
 'presschange',
 'presschangeFlag',
 'sea_level_pressureFlag',
 'hourly_precip',
 'hourly_precipFlag',
 'altimeter',
 'record_type',
 'altimeterFlag',
 'junk']

In [23]:
df2_dropped = df2_noheader.drop(list_to_drop, axis = 1)

In [25]:
df2_dropped.head()

,Wban,date,Time,StationType,sky_condition,visibility,dry_bulb_faren,dry_bulb_cel,wet_bulb_faren,wet_bulb_cel,dew_point_faren,dew_point_cel,relative_humidity,wind_speed,wind_direction,station_pressure,sea_level_pressure
0,13904,20110101,53,12,OVC045,10.00,51,10.6,38,3.1,15,-9.4,24,15,360,29.42,29.95
1,13904,20110101,153,12,OVC049,10.00,51,10.6,37,3.0,14,-10.0,23,10,340,29.49,30.01
2,13904,20110101,253,12,OVC060,10.00,51,10.6,37,2.9,13,-10.6,22,15,010,29.49,30.01
3,13904,20110101,353,12,OVC065,10.00,50,10.0,38,3.1,17,-8.3,27,7,350,29.51,30.03
4,13904,20110101,453,12,BKN070,10.00,50,10.0,37,2.8,15,-9.4,25,11,020,29.51,30.04

In [30]:
df2_noheader.shape

(10337, 44)

In [31]:
df2_dropped.shape

(10337, 17)

In [33]:
df2_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 17 columns):
Wban                  10337 non-null int64
date                  10337 non-null int64
Time                  10337 non-null int64
StationType           10337 non-null int64
sky_condition         10337 non-null object
visibility            10337 non-null object
dry_bulb_faren        10337 non-null object
dry_bulb_cel          10337 non-null object
wet_bulb_faren        10337 non-null object
wet_bulb_cel          10337 non-null object
dew_point_faren       10337 non-null object
dew_point_cel         10337 non-null object
relative_humidity     10337 non-null object
wind_speed            10337 non-null object
wind_direction        10337 non-null object
station_pressure      10337 non-null object
sea_level_pressure    10337 non-null object
dtypes: int64(4), object(13)
memory usage: 1.3+ MB

To use the full power of pandas time series, we convert the date column, to a DateTimeIndex.

In [37]:
df2_dropped['date'] = df2_dropped['date'].astype(str)

In [38]:
df2_dropped.dtypes

Wban                   int64
date                  object
Time                   int64
StationType            int64
sky_condition         object
visibility            object
dry_bulb_faren        object
dry_bulb_cel          object
wet_bulb_faren        object
wet_bulb_cel          object
dew_point_faren       object
dew_point_cel         object
relative_humidity     object
wind_speed            object
wind_direction        object
station_pressure      object
sea_level_pressure    object
dtype: object

In [39]:
df2_dropped['Time'].head()

0     53
1    153
2    253
3    353
4    453
Name: Time, dtype: int64

In [63]:
'{:1>4}'.format(5234)

'5234'

In [60]:
df2_dropped['Time'] = df2_dropped['Time'].apply(lambda x:'{:0>4}'.format(x))

In [61]:
df2_dropped['Time'].head()

0    0053
1    0153
2    0253
3    0353
4    0453
Name: Time, dtype: object

In [64]:
date_string = df2_dropped['date'] + df2_dropped['Time']

In [66]:
date_string.head()

0    201101010053
1    201101010153
2    201101010253
3    201101010353
4    201101010453
dtype: object

In [68]:
date_string.dtypes

dtype('O')

In [69]:
date_times = pd.to_datetime(date_string)

In [71]:
date_times.head()

0   2011-01-01 00:53:00
1   2011-01-01 01:53:00
2   2011-01-01 02:53:00
3   2011-01-01 03:53:00
4   2011-01-01 04:53:00
dtype: datetime64[ns]

In [72]:
date_times = pd.to_datetime(date_string, format='%Y%m%d%H%M')

In [74]:
date_times.head()

0   2011-01-01 00:53:00
1   2011-01-01 01:53:00
2   2011-01-01 02:53:00
3   2011-01-01 03:53:00
4   2011-01-01 04:53:00
dtype: datetime64[ns]

In [96]:
df2_clean = df2_dropped.set_index(date_times)

In [97]:
df2_clean.head()

,Wban,date,Time,StationType,sky_condition,visibility,dry_bulb_faren,dry_bulb_cel,wet_bulb_faren,wet_bulb_cel,dew_point_faren,dew_point_cel,relative_humidity,wind_speed,wind_direction,station_pressure,sea_level_pressure
2011-01-01 00:53:00,13904,20110101,0053,12,OVC045,10.00,51,10.6,38,3.1,15,-9.4,24,15,360,29.42,29.95
2011-01-01 01:53:00,13904,20110101,0153,12,OVC049,10.00,51,10.6,37,3.0,14,-10.0,23,10,340,29.49,30.01
2011-01-01 02:53:00,13904,20110101,0253,12,OVC060,10.00,51,10.6,37,2.9,13,-10.6,22,15,010,29.49,30.01
2011-01-01 03:53:00,13904,20110101,0353,12,OVC065,10.00,50,10.0,38,3.1,17,-8.3,27,7,350,29.51,30.03
2011-01-01 04:53:00,13904,20110101,0453,12,BKN070,10.00,50,10.0,37,2.8,15,-9.4,25,11,020,29.51,30.04

In [98]:
df2_clean.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10337 entries, 2011-01-01 00:53:00 to 2011-12-31 23:53:00
Data columns (total 17 columns):
Wban                  10337 non-null int64
date                  10337 non-null object
Time                  10337 non-null object
StationType           10337 non-null int64
sky_condition         10337 non-null object
visibility            10337 non-null object
dry_bulb_faren        10337 non-null object
dry_bulb_cel          10337 non-null object
wet_bulb_faren        10337 non-null object
wet_bulb_cel          10337 non-null object
dew_point_faren       10337 non-null object
dew_point_cel         10337 non-null object
relative_humidity     10337 non-null object
wind_speed            10337 non-null object
wind_direction        10337 non-null object
station_pressure      10337 non-null object
sea_level_pressure    10337 non-null object
dtypes: int64(2), object(15)
memory usage: 1.4+ MB

In [99]:
df2_clean.loc['2011-06-20 08:00:00':'2011-06-20 09:00:00','dry_bulb_faren']

2011-06-20 08:27:00     M
2011-06-20 08:28:00     M
2011-06-20 08:29:00     M
2011-06-20 08:30:00     M
2011-06-20 08:31:00     M
2011-06-20 08:32:00     M
2011-06-20 08:33:00     M
2011-06-20 08:34:00     M
2011-06-20 08:35:00     M
2011-06-20 08:53:00    83
Name: dry_bulb_faren, dtype: object

In [100]:
pd.to_numeric(df2_clean.loc['2011-06-20 08:00:00':'2011-06-20 09:00:00','dry_bulb_faren'], errors='coerce')

2011-06-20 08:27:00     NaN
2011-06-20 08:28:00     NaN
2011-06-20 08:29:00     NaN
2011-06-20 08:30:00     NaN
2011-06-20 08:31:00     NaN
2011-06-20 08:32:00     NaN
2011-06-20 08:33:00     NaN
2011-06-20 08:34:00     NaN
2011-06-20 08:35:00     NaN
2011-06-20 08:53:00    83.0
Name: dry_bulb_faren, dtype: float64

In [101]:
(pd.to_numeric(df2_clean.loc['2011-06-20 08:00:00':'2011-06-20 09:00:00','dry_bulb_faren'], errors='coerce')).dtype

dtype('float64')

Convert the 'dry_bulb_faren' column to numeric values with pd.to_numeric(). Specify errors='coerce' to force strings like 'M' to be interpreted as NaN.

In [102]:
df2_clean['dry_bulb_faren'] = pd.to_numeric(df2_clean['dry_bulb_faren'],
                                           errors = 'coerce')

In [103]:
df2_clean['dry_bulb_faren'].head()

2011-01-01 00:53:00    51.0
2011-01-01 01:53:00    51.0
2011-01-01 02:53:00    51.0
2011-01-01 03:53:00    50.0
2011-01-01 04:53:00    50.0
Name: dry_bulb_faren, dtype: float64

In [104]:
df2_clean['wind_speed'] = pd.to_numeric(df2_clean['wind_speed'], errors='coerce')

In [105]:
df2_clean['dew_point_faren'] = pd.to_numeric(df2_clean['dew_point_faren'], errors='coerce')

In [107]:
df2_clean['dew_point_faren'].head()

2011-01-01 00:53:00    15.0
2011-01-01 01:53:00    14.0
2011-01-01 02:53:00    13.0
2011-01-01 03:53:00    17.0
2011-01-01 04:53:00    15.0
Name: dew_point_faren, dtype: float64

Statistical EDA

In [108]:
df2_clean['dry_bulb_faren'].median()

72.0

In [110]:
df2_clean.loc['2011-Apr':'2011-Jun', 'dry_bulb_faren'].median()

78.0

In [111]:
df2_clean.loc['2011-Jan', 'dry_bulb_faren'].median()

48.0

Above getting median for the month of January.

In [2]:
election = pd.read_csv('./pandasDataSets/pennsylvania2012_turnout.csv')

In [3]:
election.head()

,county,state,total,Obama,Romney,winner,voters,turnout,margin
0,Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [4]:
election = pd.read_csv('./pandasDataSets/pennsylvania2012_turnout.csv', index_col='county')

In [5]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [6]:
election.loc['Perry':'Potter']

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681

In [7]:
election.loc['Potter':'Perry':-1]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272