### Ref. Leetcode

**Pivot index**

We define the pivot index as the index where the sum of the numbers to the left of the index is equal to the sum of the numbers to the right of the index.

If no such index exists, we should return -1. If there are multiple pivot indexes, you should return the left-most pivot index.

In [9]:
def pivotIndex(nums):
    
    sumnum = sum(nums)
    
    leftsum = 0
    
    for i, num in enumerate(nums):
        
        sumnum = sumnum - num
        
        if sumnum == leftsum:
            
            return i
        
        leftsum = leftsum + num
        
    return -1

In [10]:
pivotIndex([1, 7, 3, 6, 5, 6])

3

**Largest number at least twice as of others**

In a given integer array nums, there is always exactly one largest element.
Find whether the largest element in the array is at least twice as much as every other number in the array.
If it is, return the index of the largest element, otherwise return -1.

In [13]:
sorted([1, 7, 3, 6, 5, 6])

[1, 3, 5, 6, 6, 7]

In [14]:
nums = [1, 7, 3, 6, 5, 6]

In [22]:
d = dict(zip(range(len(nums)),nums))

In [23]:
d

{0: 1, 1: 7, 2: 3, 3: 6, 4: 5, 5: 6}

In [26]:
%%timeit
next(key for key, value in d.items() if value == 7)

575 ns ± 5.37 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [28]:
%%timeit
[key for key, value in d.items() if value == 7][0]

587 ns ± 3.08 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [29]:
next(key for key, value in d.items() if value == 7)

1

In [30]:
nums = [0, 0, 0, 1]

In [32]:
numsDict = dict(zip(range(len(nums)), nums))

In [35]:
def dominantIndex(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        if len(nums) > 1:
        
            numsDict = dict(zip(range(len(nums)), nums))

            numsSorted = sorted(nums)


            if numsSorted[-1] >= 2 * numsSorted[-2]:

                return next(key for key, value in numsDict.items() if value == numsSorted[-1])
            
        if len(nums) == 1:
            
            return 0
        
        return -1

In [36]:
nums = [1, 7, 3, 6, 5, 6]

In [38]:
nums.index(max(nums))

1

In [39]:
def dominantIndex(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        numsSorted = sorted(nums)
        
        maxElem = numsSorted[-1]
        
        maxInd = nums.index(maxElem)
        
        if len(nums) == 1:
            
            return 0
        
        if maxElem >= 2 * numsSorted[-2]:
            
            return maxInd
        
        return -1

The above method is much faster than the previous one and also doesn't introduce space complexity of the dictionary

**Converting a digit to list of integers**

In [40]:
num = 123

In [44]:
[int(d) for d in str(num)]

[1, 2, 3]

**Converting a list of integers to a digit**

In [45]:
d = [1, 2, 3]

In [47]:
list(map(str, d))

['1', '2', '3']

In [53]:
m = map(str, d)

In [49]:
''.join(m)

'123'

In [59]:
''.join(list(map(str, d)))

'123'

In [60]:
int(''.join(list(map(str, d))))

123

**argsort in basic python**

In [61]:
seq = [1, 7, 3, 6, 5, 6]

In [64]:
seq.__getitem__

In [68]:
sorted(range(len(seq)), key=seq.__getitem__)

[0, 2, 4, 3, 5, 1]

In [70]:
list(enumerate(seq))

[(0, 1), (1, 7), (2, 3), (3, 6), (4, 5), (5, 6)]

In [72]:
sorted(enumerate(seq), key = lambda x: x[1])

[(0, 1), (2, 3), (4, 5), (3, 6), (5, 6), (1, 7)]

In [73]:
sorted(list(enumerate(seq)), key = lambda x: x[1])

[(0, 1), (2, 3), (4, 5), (3, 6), (5, 6), (1, 7)]

In [74]:
[i for i, v in sorted(enumerate(seq), key = lambda x: x[1])]

[0, 2, 4, 3, 5, 1]

In [75]:
[i for (i, v) in sorted(enumerate(seq), key = lambda x: x[1])]

[0, 2, 4, 3, 5, 1]

In [77]:
sorted([(v, i) for (i, v) in enumerate(seq)])

[(1, 0), (3, 2), (5, 4), (6, 3), (6, 5), (7, 1)]

In [78]:
[i for (v, i) in sorted([(v, i) for (i, v) in enumerate(seq)])]

[0, 2, 4, 3, 5, 1]

**Diagonal transversal of a 2D array**

In [86]:
A = [[1, 2, 3], [4, 5, 6]]

In [82]:
A[0][1]

2

In [87]:
len(A)

2

In [88]:
len(A[0])

3

**Add binary strings**

In [89]:
a = '1010'
b = '1011'

In [91]:
int(a, 2)

10

In [95]:
int('10',2)

2

In [96]:
bin(10)

'0b1010'

In [98]:
bin(int(a, 2) + int(b, 2))

'0b10101'

In [99]:
bin(int(a, 2) + int(b, 2))[2:]

'10101'

**Find needle in haystack problem**

In [101]:
haystack = "hello"
needle = "ll"

In [102]:
haystack.find(needle)

2

In [104]:
haystack = "aaaaa"
needle = "bba"

In [105]:
haystack.find(needle)

-1

In [1]:
haystack = "aaaaa"
needle = ""

In [2]:
haystack.find(needle)

0

In [110]:
haystack = "aaaaa"
needle = None

In [112]:
haystack.find(needle)

TypeError: must be str, not NoneType

**Finding the longest common prefix**

In [126]:
lstr = ["flower","flow","flight"]

In [121]:
min(lstr, key = len)

'flow'

In [122]:
smallestStr = min(lstr, key = len)

In [123]:
lmin = len(smallestStr)

In [124]:
lmin

4

In [141]:
k = lmin

while k > 0:
    
    for string in lstr:
        
        print("string: ", string)
        print("string[0:k]: ", string[0:k])
        print("smallestStr[0:k]:", smallestStr[0:k])
        
        if string[0:k] != smallestStr[0:k]:
            
            k -= 1
        
        return smallestStr[0:k]

SyntaxError: 'return' outside function (<ipython-input-141-1990af578cf6>, line 15)

In [129]:
lstr

['flower', 'flow', 'flight']

In [133]:
lstr = ['flower', 'flow', 'flight', 'flossy']

In [134]:
for string in lstr:
        
        print("string: ", string)
        print("string[0:k]: ", string[0:k])
        print("smallestStr[0:k]:", smallestStr[0:k])
        
        if string[0:k] != smallestStr[0:k]:
            
            k -= 1

string:  flower
string[0:k]:  flo
smallestStr[0:k]: flo
string:  flow
string[0:k]:  flo
smallestStr[0:k]: flo
string:  flight
string[0:k]:  fli
smallestStr[0:k]: flo
string:  flossy
string[0:k]:  fl
smallestStr[0:k]: fl

In [135]:
k

2

In [150]:
k = lmin
#lstr = ["flower","flow","flight"]
lstr = ["dog","racecar","car"]


for string in lstr:
        
#         print("string: ", string)
#         print("string[0:k]: ", string[0:k])
#         print("smallestStr[0:k]:", smallestStr[0:k])
        
        while k > 0 and string[0:k] != smallestStr[0:k]:
            
            k -= 1
            
print("smallestStr[0:k]:", smallestStr[0:k])

smallestStr[0:k]:

In [144]:
strs = ['flower', 'flow', 'flight', 'flossy']

In [151]:
def longestCommonPrefix(strs):
        """
        :type strs: List[str]
        :rtype: str
        """
        
        if len(strs) > 0:
        
            smallestStr = min(strs, key=len)

            lmin = len(smallestStr)

            k = lmin

            for string in strs:

                while k > 0 and string[0:k] != smallestStr[0:k]:

                    k -= 1

            return smallestStr[0:k]
        
        else:
            
            return ''

In [152]:
longestCommonPrefix(strs)

'fl'

**Reversing a string**

In [153]:
s = 'hello'

In [157]:
''.join(list(reversed(s)))

'olleh'

In [158]:
s[::-1]

'olleh'

In [159]:
''.join(reversed(s))

'olleh'

In [163]:
[element for element in s]

['h', 'e', 'l', 'l', 'o']

In [165]:
s.split()

['hello']

In [166]:
list(s)

['h', 'e', 'l', 'l', 'o']

Given an array of 2n integers, your task is to group these integers into n pairs of integer, say (a1, b1), (a2, b2), ..., (an, bn) which makes sum of min(ai, bi) for all i from 1 to n as large as possible.

In [167]:
nums = [1 , 4, 3, 2]

In [168]:
numSorted = sorted(nums)

In [169]:
numSorted

[1, 2, 3, 4]

In [170]:
numSorted[::2]

[1, 3]

In [171]:
sum(numSorted[::2])

4

In [172]:
def arrayPairSum(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        numsSorted = sorted(nums)
        
        return sum(numsSorted[::2])

Given an array of integers that is already sorted in ascending order, find two numbers such that they add up to a specific target number.

In [183]:
nums = [1,2, 5,9 ,15, 20]

l = 0
r = len(nums) - 1

target = 14

while l < r:
    
    sum2 = nums[l] + nums[r]
    
    print("sum2 = ", sum2)
    
    if sum2 > target:
        
        r -= 1
        
    elif sum2 < target:
        
        l += 1
    
    else:
        
        print(l+1, r+1)
        
        break;
    
print(-1)

sum2 =  21
sum2 =  16
sum2 =  10
sum2 =  11
sum2 =  14
3 4
-1

In [184]:
def twoSum(numbers, target):
        """
        :type numbers: List[int]
        :type target: int
        :rtype: List[int]
        """
        
        l = 0
        
        r = len(numbers) - 1
        
        while l < r:
            
            sum2num = numbers[l] + numbers[r]
            
            if sum2num < target:
                
                l += 1
                
            elif sum2num > target:
                
                r -= 1
                
            else:
                
                return l+1, r+1
            
        return -1

**Removing element from a list**

In [185]:
nums = [1, 2, 2, 3]

In [189]:
nums.delete(2)

AttributeError: 'list' object has no attribute 'delete'

In [9]:
nums = [3, 2, 2, 3]

In [194]:
len(list(filter(lambda x: x!= 3, nums)))

2

In [12]:
nums

[2, 2, 3]

In [196]:
while 2 in nums:
    
    nums.remove(2)

In [197]:
nums

[3, 3]

In [198]:
[elem for elem in nums if elem != 2]

[3, 3]

Find the maximum consecutive ones

In [199]:
nums = [1, 1, 0, 1, 1, 1]

In [201]:
numsJoined = ''.join(map(str,nums))

In [202]:
numsJoined

'110111'

In [204]:
numsSplit = numsJoined.split('0')

In [205]:
numsSplit

['11', '111']

In [206]:
list(map(len,numsSplit))

[2, 3]

In [207]:
max(map(len,numsSplit))

3

In [208]:
def findMaxConsecutiveOnes(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        numsJoined = ''.join(map(str, nums))
        
        numsSplit = numsJoined.split('0')
        
        return max(map(len, numsSplit))

In [209]:
def findMaxConsecutiveOnes(nums):
        
        """
        :type nums: List[int]
        :rtype: int
        """
        
        count = 0
        list1 = []
        
        for num in nums:
            if num == 1:
                count +=1
            else:
                list1.append(count)
                count = 0
        list1.append(count)
        
        return max(list1)

**Reverse integer**

In [218]:
x = 120

In [219]:
int(str(x)[::-1])

21

In [220]:
2**31

2147483648

In [222]:
def reverse(x):
    """
    :type x: int
    :rtype: int
    """

    if x == 0:

        return x

    signx = int(x / abs(x))

    output = signx * int(str(abs(x))[::-1])

    if output < (-2)**31 or output > 2**31 - 1:

        return 0

    return output

In [223]:
3%2

1

**Rotate an array**

In [235]:
def rotate(nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        
        numscopy = nums[:]
        
        for i in range(len(nums)):
            
            nums[i] = numscopy[(i - k) % len(numscopy)]

In [236]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [237]:
rotate(nums, 3)

In [238]:
nums

[5, 6, 7, 1, 2, 3, 4]

Intersection of two lists

In [251]:
nums2 = [1, 2, 2, 1, 3, 5, 6, 7, 4]

In [252]:
nums1 = [10, 2, 2, 3, 4]

In [253]:
[num for num in nums1 if num in nums2]

[2, 2, 3, 4]

In [254]:
nums1 = [1, 2, 2, 1]

In [255]:
nums2 = [2]

In [257]:
[num for num in nums2 if num in nums1]

[2]

if len(nums1) <= len(nums2):

    x = nums1
    y = nums2

else:

    x = nums2
    y = nums1

return [num for num in x if num in y]

In [260]:
from collections import Counter

In [264]:
list(Counter(nums1).elements())

[1, 1, 2, 2]

In [265]:
Counter(nums1)

Counter({1: 2, 2: 2})

In [278]:
a, b = map(Counter, ([1, 2, 2, 1], [2, 2, 2]))

In [279]:
a

Counter({1: 2, 2: 2})

In [280]:
b

Counter({2: 3})

In [289]:
type(a)

collections.Counter

In [281]:
a & b

Counter({2: 2})

In [284]:
list((a & b).elements())

[2, 2]

In [285]:
d1 = {'a': 2, 'b': 3, 'c': 4, 'd': 3}

In [286]:
d2 = {'a':3, 'c':2, 'e':5}

In [291]:
d1.items() & d2.items()

set()

In [292]:
d1.keys() & d2.keys()

{'a', 'c'}

In [294]:
d2.values()

dict_values([3, 2, 5])

In [295]:
d2.keys()

dict_keys(['a', 'c', 'e'])

In [296]:
type(d2.keys())

dict_keys

In [299]:
d1

{'a': 2, 'b': 3, 'c': 4, 'd': 3}

In [300]:
d2

{'a': 3, 'c': 2, 'e': 5}

In [298]:
Counter(d1) & Counter(d2)

Counter({'a': 2, 'c': 2})

In [301]:
import numpy as np

In [304]:
np.intersect1d([1, 2, 2, 1], [2, 2, 3, 1, 1])

array([1, 2])

Numpy intersect returns set

In [305]:
def intersect(nums1, nums2):
        """
        :type nums1: List[int]
        :type nums2: List[int]
        :rtype: List[int]
        """
        
        from collections import Counter
        
        c1 = Counter(nums1)
        
        c2 = Counter(nums2)
        
            
        return list((c1 & c2).elements())

**Remove Nth node from the end of the list**

Given n will always be valid.

In [ ]:
# Definition for singly-linked list.
# class ListNode:
#     def __init__(self, x):
#         self.val = x
#         self.next = None

class Solution:
    
    def lengthLL(self, head):
        
        i = 0
        
        if head is None:
            
            return i
        
        temp = head
        
        while temp:
            
            temp = temp.next
            
            i += 1
            
        return i
            
        
    
    def removeNthFromEnd(self, head, n):
        """
        :type head: ListNode
        :type n: int
        :rtype: ListNode
        """
        
        L = self.lengthLL(head)
        
        k = L - n + 1 # the node to delete
        
        temp = head
        
        i = 1
        
        if k == 1:
            
            head = temp.next

            temp = None

            return head
        
        while temp and i < k:
            
            prevNode = temp
            
            temp = temp.next
            
            i += 1
            
        prevNode.next = temp.next
        
        temp = None
        
        return head

In [306]:
# Definition for singly-linked list.
# class ListNode:
#     def __init__(self, x):
#         self.val = x
#         self.next = None

class Solution:
    
    def reverseList(self, head):
        """
        :type head: ListNode
        :rtype: ListNode
        """
        
        prevN = None
        currN = head
        nextN = None
        
        while currN:
            
            nextN = currN.next
            
            currN.next = prevN
            
            prevN = currN
            
            currN = nextN
            
        
        return prevN

**Reversing linked list recursively**

In [307]:
# Definition for singly-linked list.
# class ListNode:
#     def __init__(self, x):
#         self.val = x
#         self.next = None

class Solution:
    
    def reverseUtil(self, currN, prevN):
        
        if currN.next is None:
            
            head = currN
            
            currN.next = prevN
            
            return head
            
        nextN = currN.next
        
        currN.next = prevN
        
        return self.reverseUtil(nextN, currN)
        
    
    def reverseList(self, head):
        """
        :type head: ListNode
        :rtype: ListNode
        """
        
        if head is None:
            
            return
        
        return self.reverseUtil(head, None)

**Finding maximum depth of a binary tree**

In [ ]:
def maxDepth(self, root):
    """
    :type root: TreeNode
    :rtype: int
    """

    if root is None:

        height = 0

        return height

    if root.left is None and root.right is None:

        height = 1

        return height


    rootLeft = root.left

    rootRight = root.right

    height = max(self.maxDepth(rootLeft), self.maxDepth(rootRight)) + 1

    return height

In [308]:
from collections import deque

In [310]:
search_q, all_levels = deque([('root', 0)]), []
cur_level, prev_level = [], 0

In [311]:
search_q

deque([('root', 0)])

In [312]:
l = []

In [313]:
l.append(None)

In [314]:
l

[None]

**Anagram and Palindrome**

In [315]:
s = "anagram"

In [316]:
t = "nagaram"

In [319]:
d1 = Counter(s)

In [320]:
d2 = Counter(t)

In [321]:
d1 == d2

True

In [322]:
Counter(s)

Counter({'a': 3, 'g': 1, 'm': 1, 'n': 1, 'r': 1})

In [323]:
d1 = {'a': 3, 'g': 1, 'm': 1, 'n': 1, 'r': 1}

In [324]:
d2 = {'a': 3, 'g': 1, 'm': 1, 'n': 1, 'r': 1}

In [325]:
d1 == d2

True

In [343]:
import re
a = re.sub(r'\W','', "A man, a plan, a canal: Panama").lower()

In [344]:
a

'amanaplanacanalpanama'

In [340]:
a == a[::-1]

True

In [345]:
True * False

0

In [346]:
False *  False

0

In [347]:
True * True

1

**Binary tree level order traversal**

In [ ]:
class Solution:
    def levelOrder(self, root):
        """
        :type root: TreeNode
        :rtype: List[List[int]]
        """
        from collections import deque
        
        traversal = []
        q = deque()
        
        if root is None:
            
            return traversal
        
        prevLevel = 0
        currLevel = []
        
        q.append((root, prevLevel))
        
        while len(q) > 0:
            
            currNode, level = q.popleft()
            
            if level == prevLevel:
                
                currLevel.append(currNode.val)
                
            else:
                
                traversal.append(currLevel)
                currLevel = [currNode.val]
                prevLevel = level
            
            if currNode.left is not None:
                
                q.append((currNode.left, level + 1))
                
            if currNode.right is not None:
                
                q.append((currNode.right, level + 1))
        
        traversal.append(currLevel)
        
        return traversal

The method above is wrong, because it just compares the node locally. We need something to compare the nodes globally

In [355]:
l = [1, 1]

In [356]:
list(zip(l, l[1:]))

[(1, 1)]

In [357]:
all(x < y for x, y in zip(l, l[1:]))

False

**Find prime number using the sieve of Eratosthenes**

In [358]:
l = [1] * 3

In [359]:
l

[1, 1, 1]

In [383]:
numbers = list(range(1, 3))

In [384]:
n

4

In [385]:
numbers

[1, 2]

In [424]:
def findPrimes(n):
    
    l = [True] * (n)
    
    l[0] = False
    
    numbers = np.array(range(1, n+1))
    
    for i in range(n):
        
        if l[i]:
        
            p = numbers[i]
        
            k = 2
            
            p = p * k

            while p <= n:

                l[p - 1] = False

                k += 1
                
                p = numbers[i] * k
        
    return len(numbers[l])

In [425]:
findPrimes(100)

25

In [423]:
len(findPrimes(100))

25

In [426]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [427]:
l

[False, True, True, False, True, False, True, False, False, False]

In [428]:
numbers = np.array(range(1, n+1))

In [429]:
print(numbers)

[1 2 3 4]

In [430]:
numbers

array([1, 2, 3, 4])

In [432]:
l = [True, False, False, True]

In [433]:
numbers[l]

array([1, 4])

In [434]:
list(range(1,5))

[1, 2, 3, 4]

In [435]:
m = [True] * 0

In [436]:
m

[]

In [437]:
m[0] = False

IndexError: list assignment index out of range

In [439]:
n = 1
if n in [0, 1]:
    
    print(True)

True

In [440]:
def countPrimes(n):
        """
        :type n: int
        :rtype: int
        """
        
        if n in [0, 1]:
            
            return 0
        
        l = [True] * (n - 1)
    
        l[0] = False
    
        numbers = list(range(1, n))
    
        for i in range(n-1):

            if l[i]:

                p = numbers[i]

                k = 2

                p = p * k

                while p < n:

                    l[p - 1] = False

                    k += 1

                    p = numbers[i] * k
                    

        return sum(l)

In [441]:
3.5 % 1

0.5

In [442]:
3.0 % 1

0.0

In [444]:
3**3

27

In [445]:
27/27

1.0

In [467]:
def isPowerOfThree(n):
    
    r = n % 3
    
    if n == 1:
        
        return True
    
    if r:
        
        return False
    
    while n > 3 and r == 0:
        
        n = n / 3
        
        r = n % 3
        
    if n == 3:
        
        return True
    
    return False

In [468]:
isPowerOfThree(1)

False

In [451]:
3 % 3

0

In [ ]:
def isPowerOfThree(n):
    
    r = n % 3
    
    if n == 1:
        
        return True
    
    if r:
        
        return False
    
    while n > 3 and r == 0:
        
        n = n / 3
        
        r = n % 3
        
    if n == 3:
        
        return True
    
    return False

In [474]:
def isPowerOfThree2(n):
    
    if n <= 0:
        
        return False
    
    while n %3 == 0:
        
        n /= 3
        
    return n == 1

In [476]:
isPowerOfThree2(9)

True

Another logic: Any integer number other than power of 3 which divides highest power of 3 value that integer can hold 3^19 = 1162261467 (Assuming that integers are stored using 32 bits) will give reminder non-zero.

In [477]:
def isPowerOfThree(n):
        """
        :type n: int
        :rtype: bool
        """
        
    if n <= 0:

        return False

    threeMaxPow = 1162261467

    return not bool(threeMaxPow % n)

In [481]:
nums = [2, 7, 11, 15]

In [479]:
nums.index(7)

1

In [483]:
nums.remove(7)

In [484]:
nums

[2, 11, 15]

In [511]:
def twoSum(nums, target):
    """
    :type nums: List[int]
    :type target: int
    :rtype: List[int]
    """
    
    for num in nums:
        
        num2 = target - num
        
        numsMod = [x for x in nums if x != num]
        
        if num2 in numsMod:
            
            return [nums.index(num), nums.index(num2)]

In [512]:
twoSum([2, 7, 11, 15], 9)

[0, 1]

In [501]:
nums = [2, 7, 11, 15]

In [502]:
nums3 = nums.remove(7)

In [498]:
5 in list(nums.remove(7))

TypeError: 'NoneType' object is not iterable

In [493]:
nums.pop(0)

2

In [499]:
del nums[2]

In [500]:
nums

[2, 11]

In [513]:
nums = [2, 7, 11, 15]

In [514]:
nums.index(7)

1

In [516]:
nums[:1] + nums[2:]

[2, 11, 15]

Given an array of integers, return indices of the two numbers such that they add up to a specific target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

Example: 

Given nums = [2, 7, 11, 15], target = 9,

Because nums[0] + nums[1] = 2 + 7 = 9,
return [0, 1].

In [ ]:
class Solution:
    def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """
        
        for i, num in enumerate(nums):
        
            num2 = target - num
            

            if num2 in nums[:m] + nums[m+1:]:

                return [m, (nums[:m] + nums[m+1:]).index(num2) + 1]

In [525]:
nums

[2, 7, 11, 15]

In [526]:
num_hash = {}
target = 9
        
for i,num in enumerate(nums):
    
    print(num_hash)

    if (target-num) in num_hash:

        print([num_hash[target-num], i])

    num_hash[num] = i

{}
{2: 0}
[0, 1]
{2: 0, 7: 1}
{2: 0, 7: 1, 11: 2}

Note that the above solution works because we are given that each input would have exactly one solution. That is, we can have something like [1,1, 1, 3] with a target value of 2, but we can have [1, 1, 2, 3] with a target value of 2.

In [519]:
num_hash

{2: 0, 7: 1, 11: 2, 15: 3}

In [520]:
nums

[2, 7, 11, 15]

In [521]:
d = {2: 1, 2:3}

In [ ]:
num_hash = {}
        
        for i,num in enumerate(nums):
            
            if (target-num) in num_hash:
                
                return [num_hash[target-num], i]
            
            num_hash[num] = i

In [528]:
d = dict(zip(nums, list(range(len(nums)))))

In [529]:
d

{2: 0, 7: 1, 11: 2, 15: 3}

In [532]:
2 in d.keys()

True

In [534]:
3 in d.values()

True

** Fibonacci numbers **

In [541]:
def fibonacci(n):
    
    if n == 0:
        
        return 0
    
    if n == 1:
        
        return 1
    
    
    return fibonacci(n-1) + fibonacci(n-2)

In [550]:
fibonacci(9)

34

The above code is correct, but it does a lot of repeated calculations. The time complexity is exponential. We can avoid repeated calculations by storing the Fibonacci numbers calculated so far.

In [570]:
def fibonacci(n):
    
    fn = [0] * (n+1)
    
    fn[0], fn[1] = 0, 1
        
    if n >= 2:
        
        for i in range(2, n+1):
            
            fn[i] = fn[i-1] + fn[i-2]
    
    
    return fn[n]

In [577]:
fibonacci(7)

13

We can do better by storing just the last and second last number

In [578]:
def fibonacci3(n):
    
    a, b = 0, 1
    
    if n == 0:
        
        return a
    
    if n == 1:
        
        return b
        
    if n >= 2:
        
        for i in range(2, n+1):
            
            c = a + b
            
            a = b
            
            b = c
    
    
    return c

In [589]:
fibonacci3(8)

21

** House robber problem **

You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security system connected and it will automatically contact the police if two adjacent houses were broken into on the same night.

Given a list of non-negative integers representing the amount of money of each house, determine the maximum amount of money you can rob tonight without alerting the police.

In [601]:
def houseRob(nums):
    
    N = len(nums)
    
    rob = [0] * N
        
    rob[0] = nums[0]
    
    if N == 1:
        
        return rob[0]
    
    if N >= 2:
        
        rob[1] = max(nums[0], nums[1])
        
        for i in range(2, N):

            rob[i] = max(nums[i] + rob[i-2], rob[i-1])
        
    
    return rob[-1]

In [602]:
houseRob([1, 2, 3, 1])

4

In [613]:
def houseRob2(nums):
    
    N = len(nums)
    
    if N == 0:
        
        return 0
        
    a = nums[0]
    
    if N == 1:
        
        return a
    
    b = max(a, nums[1])
    
    if N == 2:
        
        return b
        
    for i in range(2, N):

        c = max(nums[i] + a, b)

        a = b

        b = c      
    
    return c

In [612]:
houseRob2([2, 1, 1, 2])

c =  3
c =  4

4

In [606]:
houseRob([2, 1, 1, 2])

4

In [607]:
houseRob2([2, 1, 1])

3

In [608]:
houseRob([2, 1, 1])

3

** Maximum subarray **

In [632]:
nums = [-2, -3, 4, -1, -2, 1, 5, -3]

In [668]:
nums = [-2, -3, 4, -1, -2, 1, 5, -3]
nums = nums[0:8]
currMax = nums[0]
maxSoFar = currMax
start = 0
end = 0

for i in range(1, len(nums)):
    
    currMax = max(nums[i], currMax + nums[i])
    
    if currMax == nums[i]:
        
        start = i
    
    if currMax > maxSoFar:
        
        maxSoFar = currMax
        
        end = i

In [667]:
print(maxSoFar)
print(start)
print(end)

17
2
7

In [669]:
def maxSubArray(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        N = len(nums)
        
        currSum, maxSum = nums[0], nums[0]
        
        
        for i in range(1, N):
            
            currSum = max(nums[i], currSum + nums[i])
            
            if maxSum < currSum:
                
                maxSum = currSum
                
        
        return maxSum

In [671]:
n = 7

In [672]:
if n % 2: 
            
    k = (n + 1)/2

else: 
    
    k = n / 2

In [673]:
k

4.0

In [674]:
2126753390
1702766719

1702766719

In [675]:
2126753390/ 2

1063376695.0

In [678]:
(1595065043 + 2126753390 + 1) / 2

1860909217.0

In [682]:
(1528604000.0 + 2126753390.0) % 2

0.0

**The first bad version**

In [ ]:
# The isBadVersion API is already defined for you.
# @param version, an integer
# @return a bool
# def isBadVersion(version):

class Solution:
    
    def firstBadVersion(self, n):
        """
        :type n: int
        :rtype: int
        """
        
        if n == 1:
            
            return 1
        
        found = False
        
        if n % 2: 
            k = int((n + 1)/2)
        else: 
            k = int(n / 2)
        
        kprev = 0
        
        while not found: 
        
            if isBadVersion(k):

                if not isBadVersion(k-1):

                    found = True

                    return k
            
                if k % 2: 
                    k = int((k+1 + kprev)/2)
                else:
                    k = int((k + kprev)/2)

                
            else: 
                
                kprev = k
                
                if n+k % 2: 
                    k = int((n+k+1)/2)
                else:
                    k = int((n+k)/2)

In [ ]:
class Solution(object):
def firstBadVersion(self, n):
    """
    :type n: int
    :rtype: int
    """
    r = n-1
    l = 0
    while(l<=r):
        mid = l + (r-l)/2
        if isBadVersion(mid)==False:
            l = mid+1
        else:
            r = mid-1
    return l

In [684]:
d = Counter([2, 2, 1])

In [689]:
nums = [1,1,1,3,3,4,3,2,4,2]

In [691]:
not all(x < y for x, y in zip(nums, nums[1:]))

True

Finding if the given array contains duplicates

In [ ]:
def containsDuplicate(nums):
    """
    :type nums: List[int]
    :rtype: bool
    """

    numsSorted = sorted(nums)

    return not all(x < y for x, y in zip(numsSorted, numsSorted[1:]))

A more straightforward answer is through using set. Compare len(nums) and len(set(nums)).

** Hamming weight **

In [692]:
bin(128)

'0b10000000'

In [693]:
bin(128)[2:]

'10000000'

In [695]:
bin(128)[2:].count('0')

7

**Hamming Distance**

In [697]:
0^0

0

In [698]:
1^0

1

In [701]:
xbin = bin(1)[2:]

In [723]:
xbin

'1'

In [702]:
ybin = bin(4)[2:]

In [719]:
xbinOrig = bin(1)

In [724]:
xbinOrig

'0b1'

In [720]:
ybinOrig = bin(4)

In [725]:
ybinOrig

'0b100'

In [733]:
ybinOrig[2:4]

'10'

In [731]:
bin(0b1 ^ 0b100 )

'0b101'

In [739]:
int(bin(1 ^ 4),2)

5

In [737]:
1^4

5

In [ ]:
1

In [703]:
xbin

'1'

In [705]:
'0' * (len(ybin) - len(xbin)) + xbin

'001'

In [706]:
xbinMod = '0' * (len(ybin) - len(xbin)) + xbin

In [708]:
list(zip(map(int, xbinMod), map(int, ybin)))

[(0, 1), (0, 0), (1, 0)]

In [709]:
t = list(zip(map(int, xbinMod), map(int, ybin)))

In [711]:
sum([x^y for x, y in t])

2

In [713]:
'0'*0 + 'q'

'q'

In [716]:
list(map(int, xbinMod)) ^ list(map(int, ybin))

TypeError: unsupported operand type(s) for ^: 'list' and 'list'

In [717]:
list(map(int, xbinMod))

[0, 0, 1]

In [718]:
list(map(int, ybin))

[1, 0, 0]

In [740]:
def hammingDistance(self, x, y):
    """
    :type x: int
    :type y: int
    :rtype: int
    """

    xbin, ybin = bin(x)[2:], bin(y)[2:]

    N = abs(len(xbin) - len(ybin))

    if len(xbin) > len(ybin):

        ybin = '0'*N + ybin

    else:

        xbin = '0'*N + xbin

    t = list(zip(map(int, xbin), map(int, ybin)))

    return sum([x^y for x, y in t])

In [743]:
bin(1^4).count('1')

2

In [744]:
bin(4)

'0b100'

In [757]:
'{:032b}'.format(4)

'00000000000000000000000000000100'

In [758]:
bin32 = '{:032b}'.format(4)

In [760]:
int(bin32[::-1], 2)

536870912

In [761]:
l1 = [1, 2, 3]

In [762]:
l2 = [4, 5]

In [763]:
l1.extend(l2)

In [764]:
l1

[1, 2, 3, 4, 5]

In [766]:
a1 = [1, 3, 5, 7]
a2 = [2, 4, 5, 8, 9]

In [770]:
i, j = 0, 0
b = []

while i < len(a1) and j < len(a2):
    
    if a1[i] < a2[j]:
        
        b.append(a1[i])
        
        i += 1
        
    else:
        
        b.append(a2[j])
        
        j += 1
        
        
if i >= len(a1):
    
    b.extend(a2[j:])
    
else:
    
    b.extend(a2[i:])

In [771]:
b

[1, 2, 3, 4, 5, 5, 7, 8, 9]

In [782]:
def mergeSort(a1, a2):
    
    i, j = 0, 0
    b = []

    while i < len(a1) and j < len(a2):

        if a1[i] < a2[j]:

            b.append(a1[i])

            i += 1

        else:

            b.append(a2[j])

            j += 1


    if i >= len(a1):

        b.extend(a2[j:])

    else:

        b.extend(a1[i:])
        
    return b

In [783]:
mergeSort(a1 = [1, 3, 5, 7], a2 = [2, 4, 5, 8, 9])

[1, 2, 3, 4, 5, 5, 7, 8, 9]

In [784]:
mergeSort(a1 = [], a2 = [2, 4, 5, 8, 9])

[2, 4, 5, 8, 9]

In [785]:
mergeSort(a1 = [1, 3, 5, 7], a2 = [])

[1, 3, 5, 7]

In [786]:
mergeSort(a1 = [1, 3, 5, 7], a2 = [2, 4, 5, 8])

[1, 2, 3, 4, 5, 5, 7, 8]

In [787]:
mergeSort(a1 = [], a2 = [])

[]

**Getting the first unique character**

In [1]:
s = "leetcode"

In [2]:
from collections import Counter

In [3]:
Counter(s)

Counter({'c': 1, 'd': 1, 'e': 3, 'l': 1, 'o': 1, 't': 1})

In [8]:
i = 0

while i < len(s):
    
    c = s[i]
    
    j = 0
    
    while j < len(s):
        
        if c == s[j] and i != j:
            
            break
        
        else:
            
            j += 1
            
    if j == len(s):
        
        print(i)
        
        break
    
    i += 1
    
print(-1)

0
-1

In [9]:
s.count('e')

3

In [10]:
def firstUniqChar(s):
        """
        :type s: str
        :rtype: int
        """
        
        i = 0
        
        while i < len(s):
            
            c = s[i]
            
            j = 0
            
            while j < len(s):
                
                if j != i and c == s[j]:
                    
                    break
                
                else:
                    
                    j += 1
                    
            if j == len(s):
                
                return i
            
            else:
                
                i += 1
                
        return -1

In [11]:
firstUniqChar(s)

0

In [12]:
firstUniqChar('sushant')

1

In [18]:
firstUniqChar('swaroopaswrp')

-1

In [21]:
uniqIndex = [s.index(l) for l in s if s.count(l) == 1]

In [22]:
uniqIndex

[0, 3, 4, 5, 6]

In [23]:
min(uniqIndex)

0

**Remove duplicates from a sorted array in place**

In [24]:
def removeDuplicates(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        n = len(nums)
        
        if n == 0 or n == 1:
            
            return n
        
        i, j = 0, 0
        
        while i < n:
            
            if nums[i] > nums[j]:
            
                nums[j+1] = nums[i]
                
                j += 1
                
            i += 1
            
        return j+1

In [25]:
l = [1,2,3]

In [28]:
strl = list(map(str, l))
strl

['1', '2', '3']

In [35]:
plusOne = int(''.join(strl)) + 1
plusOne

124

In [37]:
plusOneStr = str(plusOne)
plusOneStr

'124'

In [42]:
[int(i) for i in plusOneStr]

[1, 2, 4]

**Given a non-empty array of integers, every element appears twice except for one. Find that single one.**

Example: Input: [4,1,2,1,2]
Output: 4

In [44]:
def singleNumber(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        return 2 * sum(set(nums)) - sum(nums)

The above solution introduces a space complexity. We can avoid that using the xor property

In [47]:
2^2^1

1

In [46]:
0^1

1

In [48]:
4^1^2^1^2

4

In [49]:
from functools import reduce

In [50]:
def singleNumber(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        return reduce(lambda x, y: x^y, nums)

**Move zeros**

Input: [0, 1, 0, 3, 12]

Output: [1, 3, 12, 0, 0]

In [64]:
def moveZeroes(nums):
    zero = 0  # records the position of "0"
    
    for i in range(len(nums)):
        
        if nums[i] != 0:
            
            temp = nums[i]
            
            nums[i] = nums[zero]
            nums[zero] = temp
            
            zero += 1

In [65]:
nums = [0, 1, 0, 3, 12]

In [66]:
moveZeroes(nums)

In [67]:
nums

[1, 3, 12, 0, 0]

In [68]:
def moveZeroes(nums):
        
        """
        :type nums: List[int]
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        
        i, j = 0, 0
        
        n = len(nums)
        
        if n == 0 or n == 1:
            
            return
        
        while i < n:
            
            if nums[i] != 0:
                
                nums[j], nums[i] = nums[i], nums[j]
                
                j += 1
                
            i += 1

In [69]:
def moveZeroes(nums):
        
        """
        :type nums: List[int]
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        
        i, j = 0, 0
        
        n = len(nums)
        
        if n == 0 or n == 1:
            
            return
        
        while i < n:
            
            if nums[i] != 0:
                
                temp = nums[i]
                
                nums[i] = nums[j]
                
                nums[j] = temp
                
                j += 1
                
            i += 1

Notice that the construct a, b = b, a updates a and b simultaneously without having to use the temp variable

Now let's move zeros by introducing extra space complexity

In [70]:
nums

[1, 3, 12, 0, 0]

In [71]:
nums.count(0)

2

In [72]:
numsNonZero = [i for i in nums if i != 0]

In [73]:
numsNonZero

[1, 3, 12]

In [74]:
numsNonZero + [0]*nums.count(0)

[1, 3, 12, 0, 0]

In [76]:
def moveZeroes(nums):
        
        """
        :type nums: List[int]
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        
        countZero = nums.count(0)
        
        nums[:] = [i for i in nums if i != 0] + [0]*countZero

**Merge sorted arrays in place**

Input:

nums1 = [1,2,3], m = 3

nums2 = [2,5,6], n = 3

Output: [1,2,2,3,5,6]

In [77]:
nums

[1, 3, 12, 0, 0]

In [78]:
nums.insert(2,22)

In [79]:
nums

[1, 3, 22, 12, 0, 0]

In [151]:
def merge(nums1, m, nums2, n):
        """
        :type nums1: List[int]
        :type m: int
        :type nums2: List[int]
        :type n: int
        :rtype: void Do not return anything, modify nums1 in-place instead.
        """
        
        i, j = 0, 0
        
        nums1[:] = nums1[:m]
        
        M = m
        
        while i < M and j < n:
            
            if nums1[i] > nums2[j]:
                
                nums1.insert(i, nums2[j])
                
                M = M + 1
                
                j += 1
                
                i += 1
            
            else:
                
                i += 1
                
        nums1.extend(nums2[j:])

In [138]:
nums1 = [1,2,3,0,0,0] 
m = 3
nums2 = [2,5,6]
n = 3

In [139]:
merge(nums1, m, nums2, n)

In [140]:
nums1

[1, 2, 2, 3, 5, 6]

In [154]:
nums1 = [4,0,0,0,0,0]
m = 1
nums2 = [1,2,3,5,6]
n = 5

In [155]:
merge(nums1, m, nums2, n)

In [156]:
nums1

[1, 2, 3, 4, 5, 6]

The insert operation can be typically costly, since it involves moving elements. Let's see if we can get away without using it.

In [157]:
nums1

[1, 2, 3, 4, 5, 6]

In [160]:
nums1[:2] = [11, 22]

In [161]:
nums1

[11, 22, 3, 4, 5, 6]

In [162]:
def merge2(nums1, m, nums2, n):
        """
        :type nums1: List[int]
        :type m: int
        :type nums2: List[int]
        :type n: int
        :rtype: void Do not return anything, modify nums1 in-place instead.
        """
        
        while m > 0 and n > 0:
            
            if nums1[m-1] > nums2[n-1]:
                
                nums1[m+n-1] = nums1[m-1]
                
                m -= 1
                
            else:
                
                nums1[m+n-1] = nums2[n-1]
                
                n -= 1
                
        
        if n > 0:
            
            nums1[:n] = nums2[:n]

**Best time to buy and sell a stock**

Input: [7,1,5,3,6,4]
Output: 5
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
             Not 7-1 = 6, as selling price needs to be larger than buying price.

In [164]:
def maxProfit(prices):
        
        """
        :type prices: List[int]
        :rtype: int
        """
        
        n = len(prices)
        
        if n == 0 or n == 1:
            
            return 0
        
        b = prices[0]
        b_prime = b
        
        s = 0
        s_prime = s
        
        for i in prices:
            
            if i < b_prime:
                
                b_prime = i
                s_prime = 0
                
            if i > b_prime and i > s_prime:
                
                s_prime = i
                
                
            if s_prime - b_prime > s - b:
                
                s = s_prime
                b = b_prime
                
        if s == 0:
            
            return 0
        
        return (s - b)

In [163]:
float('inf')

inf

In [165]:
def maxProfit2(prices):
    
    """
        :type prices: List[int]
        :rtype: int
    """
    
    buy = float('inf')
    
    maxProfit = 0
    
    for p in prices:
        
        buy = min(p, buy)
        
        profit = p - buy
        
        maxProfit = max(profit, maxProfit)
        
    return maxProfit

In [166]:
maxProfit2([7,1,5,3,6,4])

5

**String to integer -- atoi**

In [167]:
s = "  42"

In [168]:
s

'  42'

In [169]:
s.strip()

'42'

In [170]:
s = s.strip()

In [171]:
s[0]

'4'

In [179]:
if s[0] not in ['+', '-', list(map(str, range(10)))]:
    
    print('NA')

NA

In [174]:
s[0]

'4'

In [177]:
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [186]:
s[0] in list(map(str, range(10))) + ['+', '-']

True

In [211]:
s = '4193'

In [212]:
s.strip()

'4193'

In [213]:
s.split()[0]

'4193'

In [214]:
s.split()[0].isdigit()

True

In [218]:
'3.2'.isdigit()

False

In [208]:
def strToInteger(s):
    
    INT_MAX = 2**31
    INT_MIN = -2**31
    
    s = s.strip()
    
    if s[0] not in list(map(str, range(10))) + ['+', '-']:
        
        return 0
    
    s = s.split()[0]
    
    if not s.isdigit():
        
        return 0
    
    if s[0] == '+':
        
        ints = int(s[1:])
    
    elif s[0] == '-':
        
        ints = -1 * int(s[1:])
    
    else:
        
        ints = int(s)
        
    if ints < INT_MIN:
        
        return INT_MIN
    
    elif ints > INT_MAX:
        
        return INT_MAX
    
    else:
        
        return ints

In [210]:
strToInteger("-91283472332")

-2147483648

In [219]:
int(3.14)

3

In [222]:
int(float('3.14'))

3

In [223]:
ord('3.14')

TypeError: ord() expected a character, but string of length 4 found

In [ ]:
def myAtoi(s):
        """
        :type str: str
        :rtype: int
        """
        
        INT_MAX = 2**31
        INT_MIN = -2**31

        s = s.strip()
        
        if len(s) == 0:
            
            return 0

        if s[0] not in list(map(str, range(10))) + ['+', '-']:

            return 0

        s = s.split()[0]

        if s[0] == '+':
            
            if not s[1:].replace('.', '').isdigit():
        
                return 0

            ints = int(float(s[1:]))

        elif s[0] == '-':
            
            if not s[1:].replace('.', '').isdigit():
        
                return 0

            ints = -1 * int(float(s[1:]))

        else:
            
            if not s.replace('.', '').isdigit():
        
                return 0

            ints = int(float(s))

        if ints < INT_MIN:

            return INT_MIN

        elif ints > INT_MAX:

            return INT_MAX

        else:

            return ints

In [225]:
ord("0")

48

In [240]:
ls = '00a314'

In [241]:
i = 0
ret = 0

while i < len(ls) and ls[i].isdigit():
    
    print("ls[i] = ", ls[i])
    print("ord(ls[i]) = ", ord(ls[i]))

    ret = ret*10 + ord(ls[i]) - ord('0')
    
    print("ret = ", ret)

    i += 1

ls[i] =  0
ord(ls[i]) =  48
ret =  0
ls[i] =  0
ord(ls[i]) =  48
ret =  0

In [229]:
ret

3

In [234]:
ord('3')

51

In [235]:
ord('0')

48

In [242]:
ord('32')

TypeError: ord() expected a character, but string of length 2 found

In [246]:
chr(100)

'd'

In [249]:
chr(97)

'a'

In [250]:
chr(48)

'0'

In [251]:
chr(49)

'1'

In [254]:
chr(57)

'9'

In [255]:
chr(58)

':'

In [257]:
' '.strip()

''

In [270]:
def myAtoi2(s):
    
    """
    :type str: str
    :rtype: int
    """
    
    if len(s) == 0:
        
        return 0
    
    ls = s.strip()
    
    if len(ls) == 0:
        
        return 0
    
    
    sign = -1 if ls[0] == '-' else 1
    
    if ls[0] in ['+', '-']:
        
        ls = ls[1:]
    
    
    ret, i = 0, 0
    
    while i < len(ls) and ls[i].isdigit():
        
        ret = ret * 10 + ord(ls[i]) - ord('0')
        
        i += 1
        
    return min(max(-2**31, sign * ret), 2**31)

In [271]:
myAtoi2('  +4.3')

4

In [272]:
s = '45'

In [261]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [263]:
s[1].isdigit()

True

**Merging two sorted LL**

In [274]:
# Node class
class Node:
    
    def __init__(self, val):
        
        self.val = val # Assign data
        self.next = None # initialize next as null

In [289]:
class linkedList:
    
    # function to initialize the linked list object
    
    def __init__(self):
        
        self.head = None
        
    def printList(self):
        
        temp = self.head
        
        while temp: 
            
            print(temp.val)
            
            temp = temp.next

In [290]:
l1 = linkedList()

In [291]:
l1.head = Node(1)

In [292]:
l1.head.next = Node(2)

In [293]:
l1.head.next.next = Node(4)

In [327]:
l1.printList()

1
2
4

In [295]:
l2 = linkedList()

In [296]:
l2.head = Node(1)

In [298]:
l2.head.next = Node(3)

In [299]:
l2.head.next.next = Node(4)

In [326]:
l2.printList()

1
3
4

In [322]:
l = linkedList()

In [303]:
l1.head.val

1

In [316]:
l.head = Node(min(l1.head.val, l2.head.val))

In [317]:
l.printList()

1

In [328]:
#t1 = l1.head.next
#t2 = l2.head.next


# if l1.head.val == l2.head.val: 
    
#     l.head.next = Node(l1.head.val)
    
#     t = l.head.next

# else:
    
#     t = l.head

l = linkedList()

if l1.head.val > l2.head.val:
    
    l.head = Node(l2.head.val)
    
    t2 = l2.head.next
   
    t1 = l1.head
    
    t = l.head
    
elif l1.head.val < l2.head.val:
    
    l.head = Node(l1.head.val)
    
    t1 = l1.head.next
    
    t2 = l2.head
    
    t = l.head
    
else:
    
    l.head = Node(l1.head.val)
    l.head.next = Node(l2.head.val)
    t1 = l1.head.next
    t2 = l2.head.next
    t = l.head.next
    

while t1 and t2:
    
    if t1.val > t2.val:
        
        t.next = Node(t2.val)
        t = t.next
        t2 = t2.next
        
    else:
        
        t.next = Node(t1.val)
        t = t.next
        t1 = t1.next
        
if t1:
    
    while t1:
        
        t.next = Node(t1.val)
        t = t.next
        t1 = t1.next
        
else:
    
    while t2:
        
        t.next = Node(t2.val)
        t = t.next
        t2 = t2.next

In [329]:
l.printList()

1
1
2
3
4
4

In [309]:
t1

In [312]:
t.val

1

In [314]:
t.next.val

4

In [330]:
len(l)

TypeError: object of type 'linkedList' has no len()

In [331]:
def mergeTwoLists(l1, l2):
        """
        :type l1: ListNode
        :type l2: ListNode
        :rtype: ListNode
        """
        
        
        if l1 is None:
            
            return l2
        
        if l2 is None:
            
            return l1
            
            
        
        if l1.val > l2.val:

            l = ListNode(l2.val)

            t2 = l2.next

            t1 = l1

            t = l

        elif l1.val < l2.val:

            l = ListNode(l1.val)

            t1 = l1.next

            t2 = l2

            t = l

        else:

            l = ListNode(l1.val)
            l.next = ListNode(l2.val)
            t1 = l1.next
            t2 = l2.next
            t = l.next
            
        

        while t1 and t2:

            if t1.val > t2.val:
                
                t.next = ListNode(t2.val)
                t = t.next
                t2 = t2.next

            else:

                t.next = ListNode(t1.val)
                t = t.next
                t1 = t1.next

        if t1:

            while t1:

                t.next = ListNode(t1.val)
                t = t.next
                t1 = t1.next

        else:

            while t2:

                t.next = ListNode(t2.val)
                t = t.next
                t2 = t2.next
                
        return l

**Fizz Buzz**

In [1]:
3 % 3

0

In [10]:
ll = []
n = 0

for i in range(1, n+1):
    
    if not i % 15:
        
        ll.append("FizzBuzz")
    
    elif not i % 3:
        
        ll.append("Fizz")
        
    elif not i % 5:
        
        ll.append("Buzz")
        
    else:
        
        ll.append(str(i))

In [11]:
ll

[]

Note that the solution below doesn't give the desried output. cf. the control flow in if, elif, else statement.

In [ ]:
for i in range(1, n+1):
    
    if not i % 3:
        
        ll.append("Fizz")
    
    elif not i % 5:
        
        ll.append("Buzz")
        
    elif not i % 15:
        
        ll.append("FizzBuzz")
        
    else:
        
        ll.append(str(i))

**Valid Paranthesis**

In [12]:
s = []

In [13]:
s.pop()

IndexError: pop from empty list

In [14]:
try: 
    s.pop()
except:
    print(False)

False

In [18]:
not 2

False

In [16]:
'2' in ['3', '2', '5']

True

In [19]:
sdict = {')': '(', '}': '{', ']': '['}

In [20]:
sdict[')']

'('

In [22]:
def isValid(s):
        """
        :type s: str
        :rtype: bool
        """
        
        sdict = {')': '(', '}': '{', ']': '['}
        
        stack = []
        
        t = 0
        
        while t < len(s):
            
            if s[t] in ['(', '{', '[']:
                
                stack.append(s[t])
            
            else:
                
                try:
                    sprime = stack.pop()
                except:
                    return False
                
                if sprime != sdict[s[t]]:

                    return False
            
            t += 1
            
        return not len(stack)

**Missing number**

Given an array containing n distinct numbers taken from 0, 1, 2, ..., n, find the one that is missing from the array.

Example 1:

Input: [3,0,1]

Output: 2

Example 2:

Input: [9,6,4,2,3,5,7,0,1]

Output: 8

In [23]:
nums = [9,6,4,2,3,5,7,0,1]

In [40]:
def missingNumber(nums):
    """
    :type nums: List[int]
    :rtype: int
    """

    missNum = set(range(len(nums)+1)) - set(nums)

    return list(missNum)[0]

In [41]:
missingNumber(nums)

8

** Min Stack **

Design a stack that supports push, pop, top, and retrieving the minimum element in **constant time**.

push(x) -- Push element x onto stack. 

pop() -- Removes the element on top of the stack.

top() -- Get the top element.

getMin() -- Retrieve the minimum element in the stack.

There are two approaches to do this:

1) Use 2 stacks. 1 stack contains all elements and the other stack tracks the minimum element.

2) Directly store a tuple in this format in one stack- (element, minimum element till now in stack).

The code below follows approach 2.

In [7]:
l = [(3, -1), (2, -1), (1, -1)]

In [9]:
l[-1][1]

-1

In [10]:
class MinStack:

    def __init__(self):
        """
        initialize your data structure here.
        """
        
        self.stack = []
        

    def push(self, x):
        """
        :type x: int
        :rtype: void
        """
        
        if len(self.stack) == 0:
        
            self.stack.append((x, x))
        
        else:
            
            minimum = self.stack[-1][1]
            
            self.stack.append((x, min(x, minimum)))
            
        

    def pop(self):
        """
        :rtype: void
        """
        
        try: 
            
            return self.stack.pop()[0]
            
        except:
            
            return
        
        

    def top(self):
        """
        :rtype: int
        """
        
        return self.stack[-1][0]
        

    def getMin(self):
        """
        :rtype: int
        """
        
        return self.stack[-1][1]

Checking if the LL is a palindrome.

In [ ]:
def isPalindrome(self, head):
        """
        :type head: ListNode
        :rtype: bool
        """
        
        temp = head
        
        values = []
        
        while temp is not None:
            
            values.append(temp.val)
            
            temp = temp.next
            
        return values == values[::-1]

Above we used O(1) extra space. 

Following is another method to do it w/o using extra space. The idea is to find the mid point of the list and then to reverse it (starting from mid point and ahead).

In [1]:
def isPalindrome(self, head):
        """
        :type head: ListNode
        :rtype: bool
        """
        
        slow = head
        fast = head
        
        # find the mid-point first
        while fast and fast.next:
            
            slow = slow.next
            fast = fast.next.next
        
        # slow here points to the mid-point. 
        # Let's reverse the second half of the LL
        
        node = None
        
        while slow:
            
            nxt = slow.next
            slow.next = node
            node = slow
            slow = nxt
            
        while node:
            
            if node.val != head.val:
                
                return False
            
            node = node.next
            head = head.next
            
        return True

**Best time to buy and sell stock**

Example 1:

Input: [7,1,5,3,6,4]

Output: 7

Explanation: Buy on day 2 (price = 1) and sell on day 3 (price = 5), profit = 5-1 = 4.
             Then buy on day 4 (price = 3) and sell on day 5 (price = 6), profit = 6-3 = 3.
             
Example 2:

Input: [1,2,3,4,5]

Output: 4

Explanation: Buy on day 1 (price = 1) and sell on day 5 (price = 5), profit = 5-1 = 4.
             Note that you cannot buy on day 1, buy on day 2 and sell them later, as you are
             engaging multiple transactions at the same time. You must sell before buying again.

In [2]:
prices = [7, 1, 5, 3, 6, 4]

In [5]:
prices = [1, 2, 3, 4, 5]

In [6]:
list(zip(prices, prices[1:]))

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [7]:
sum([b-a for a,b in zip(prices,prices[1:]) if b-a > 0])

4

**Valid Sudoku**

In [54]:
sodoku1 = [
  ["5","3",".",".","7",".",".",".","."],
  ["6",".",".","1","9","5",".",".","."],
  [".","9","8",".",".",".",".","6","."],
  ["8",".",".",".","6",".",".",".","3"],
  ["4",".",".","8",".","3",".",".","1"],
  ["7",".",".",".","2",".",".",".","6"],
  [".","6",".",".",".",".","2","8","."],
  [".",".",".","4","1","9",".",".","5"],
  [".",".",".",".","8",".",".","7","9"]
]

In [55]:
from collections import Counter

In [12]:
sodoku1[0]

['5', '3', '.', '.', '7', '.', '.', '.', '.']

In [14]:
Counter(sodoku1[0])

Counter({'.': 6, '3': 1, '5': 1, '7': 1})

In [ ]:
x
        for i, row in enumerate(board)
        for j, c in enumerate(row)
        if c != '.'
        for x in ((c, i), (j, c), (i/3, j/3, c))

In [60]:
sodoku1

[['5', '3', '.', '.', '7', '.', '.', '.', '.'],
 ['6', '.', '.', '1', '9', '5', '.', '.', '.'],
 ['.', '9', '8', '.', '.', '.', '.', '6', '.'],
 ['8', '.', '.', '.', '6', '.', '.', '.', '3'],
 ['4', '.', '.', '8', '.', '3', '.', '.', '1'],
 ['7', '.', '.', '.', '2', '.', '.', '.', '6'],
 ['.', '6', '.', '.', '.', '.', '2', '8', '.'],
 ['.', '.', '.', '4', '1', '9', '.', '.', '5'],
 ['.', '.', '.', '.', '8', '.', '.', '7', '9']]

In [64]:
for i, row in enumerate(sodoku1):
    
    for j, c in enumerate(row):
        
        if c != '.':
            
            for x in ((c, i), (j, c), (i/3, j/3, c)):
                
                cc = Counter(x)

In [65]:
cc

Counter({2.6666666666666665: 2, '9': 1})

In [68]:
max(Counter(
        x
        for i, row in enumerate(sodoku1)
        for j, c in enumerate(row)
        if c != '.'
        for x in ((c, i), (j, c), (i/3, j/3, c))
    ).values() )

1

In [73]:
Counter(
        x
        for i, row in enumerate(sodoku1)
        for j, c in enumerate(row)
        if c != '.'
        for x in ((c, i), (j, c), (int(i/3), int(j/3), c))
    ).values()

dict_values([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [118]:
vals = [x
        for i, row in enumerate(sodoku1)
        for j, c in enumerate(row)
        if c != '.'
        for x in ((c, i), (j, c), (int(i/3), int(j/3), c))]

In [119]:
vals2 = []

for i, row in enumerate(sodoku1):
    
    for j, c in enumerate(row):
        
        if c != '.':
            
            for x in [(c, i), (j, c), (int(i/3), int(j/3), c)]:
                
                vals2.append(x)

In [120]:
vals2 == vals

True

The first tuple in the x (when Counter is applied) checks if the same value is present in a given row, the second tuple checks if the same value is present in a given column, and the third tuple checks if the same value is present in any given 3x3 sub-box.

In [76]:
vals

[('5', 0),
 (0, '5'),
 (0, 0, '5'),
 ('3', 0),
 (1, '3'),
 (0, 0, '3'),
 ('7', 0),
 (4, '7'),
 (0, 1, '7'),
 ('6', 1),
 (0, '6'),
 (0, 0, '6'),
 ('1', 1),
 (3, '1'),
 (0, 1, '1'),
 ('9', 1),
 (4, '9'),
 (0, 1, '9'),
 ('5', 1),
 (5, '5'),
 (0, 1, '5'),
 ('9', 2),
 (1, '9'),
 (0, 0, '9'),
 ('8', 2),
 (2, '8'),
 (0, 0, '8'),
 ('6', 2),
 (7, '6'),
 (0, 2, '6'),
 ('8', 3),
 (0, '8'),
 (1, 0, '8'),
 ('6', 3),
 (4, '6'),
 (1, 1, '6'),
 ('3', 3),
 (8, '3'),
 (1, 2, '3'),
 ('4', 4),
 (0, '4'),
 (1, 0, '4'),
 ('8', 4),
 (3, '8'),
 (1, 1, '8'),
 ('3', 4),
 (5, '3'),
 (1, 1, '3'),
 ('1', 4),
 (8, '1'),
 (1, 2, '1'),
 ('7', 5),
 (0, '7'),
 (1, 0, '7'),
 ('2', 5),
 (4, '2'),
 (1, 1, '2'),
 ('6', 5),
 (8, '6'),
 (1, 2, '6'),
 ('6', 6),
 (1, '6'),
 (2, 0, '6'),
 ('2', 6),
 (6, '2'),
 (2, 2, '2'),
 ('8', 6),
 (7, '8'),
 (2, 2, '8'),
 ('4', 7),
 (3, '4'),
 (2, 1, '4'),
 ('1', 7),
 (4, '1'),
 (2, 1, '1'),
 ('9', 7),
 (5, '9'),
 (2, 1, '9'),
 ('5', 7),
 (8, '5'),
 (2, 2, '5'),
 ('8', 8),
 (4, '8'),
 (2, 1, '8'),
 ('7', 8),
 (7, '7'),
 (2, 2, '7'),
 ('9', 8),
 (8, '9'),
 (2, 2, '9')]

In [81]:
Counter(vals).values()

dict_values([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [82]:
max(Counter(vals).values())

1

In [121]:
def isValidSudoku(board):
        
        """
        :type board: List[List[str]]
        :rtype: bool
        """
        
        from collections import Counter
        
        vals = [x for i, row in enumerate(board) \
                    for j, c in enumerate(row) \
                        if c != '.' \
                            for x in [(i, c), (c, j), (int(i/3), int(j/3), c)]]
        
        countVals = Counter(vals)
        
        return 1 == max(list(countVals.values()) + [1]) #[1] is added to take care of the edge case where all entries are '.'

Checking for a valid sudoku using set

In [92]:
[[(c, i), (j, c), (int(i/3), int(j/3), c)]
                for i, row in enumerate(sodoku1)
                for j, c in enumerate(row)
                if c != '.']

[[('5', 0), (0, '5'), (0, 0, '5')],
 [('3', 0), (1, '3'), (0, 0, '3')],
 [('7', 0), (4, '7'), (0, 1, '7')],
 [('6', 1), (0, '6'), (0, 0, '6')],
 [('1', 1), (3, '1'), (0, 1, '1')],
 [('9', 1), (4, '9'), (0, 1, '9')],
 [('5', 1), (5, '5'), (0, 1, '5')],
 [('9', 2), (1, '9'), (0, 0, '9')],
 [('8', 2), (2, '8'), (0, 0, '8')],
 [('6', 2), (7, '6'), (0, 2, '6')],
 [('8', 3), (0, '8'), (1, 0, '8')],
 [('6', 3), (4, '6'), (1, 1, '6')],
 [('3', 3), (8, '3'), (1, 2, '3')],
 [('4', 4), (0, '4'), (1, 0, '4')],
 [('8', 4), (3, '8'), (1, 1, '8')],
 [('3', 4), (5, '3'), (1, 1, '3')],
 [('1', 4), (8, '1'), (1, 2, '1')],
 [('7', 5), (0, '7'), (1, 0, '7')],
 [('2', 5), (4, '2'), (1, 1, '2')],
 [('6', 5), (8, '6'), (1, 2, '6')],
 [('6', 6), (1, '6'), (2, 0, '6')],
 [('2', 6), (6, '2'), (2, 2, '2')],
 [('8', 6), (7, '8'), (2, 2, '8')],
 [('4', 7), (3, '4'), (2, 1, '4')],
 [('1', 7), (4, '1'), (2, 1, '1')],
 [('9', 7), (5, '9'), (2, 1, '9')],
 [('5', 7), (8, '5'), (2, 2, '5')],
 [('8', 8), (4, '8'), (2, 1, '8')],
 [('7', 8), (7, '7'), (2, 2, '7')],
 [('9', 8), (8, '9'), (2, 2, '9')]]

In [94]:
sum([[('5', 0), (0, '5'), (0, 0, '5')],
 [('1', 1), (3, '1'), (0, 1, '1')],
 [('9', 1), (4, '9'), (0, 1, '9')]], [])

[('5', 0),
 (0, '5'),
 (0, 0, '5'),
 ('1', 1),
 (3, '1'),
 (0, 1, '1'),
 ('9', 1),
 (4, '9'),
 (0, 1, '9')]

**wow, using sum with [] is a nifty trick to unpack the elements in the list!**

In [96]:
sum([
    [('5', 0), (0, '5'), (0, 0, '5')],
    [('1', 1), (3, '1'), (0, 1, '1')]], [(1, 2)])

[(1, 2), ('5', 0), (0, '5'), (0, 0, '5'), ('1', 1), (3, '1'), (0, 1, '1')]

In [98]:
sum([
    [1, 2], [3], [4, 5, 6]
], [])

[1, 2, 3, 4, 5, 6]

In [99]:
sum([
    [1, 2], [3], [4, 5, 6]
], [[7, 8], [9]])

[[7, 8], [9], 1, 2, 3, 4, 5, 6]

In [100]:
seen = sum(([(c, i), (j, c), (i/3, j/3, c)]
                for i, row in enumerate(sodoku1)
                for j, c in enumerate(row)
                if c != '.'), [])

In [101]:
len(seen) == len(set(seen))

True

In [122]:
def isValidSudoku(board):

    """
    :type board: List[List[str]]
    :rtype: bool
    """

    seen = sum([[(c, i), (j, c), (int(i/3), int(j/3), c)] \
              for i, row in enumerate(board) \
                for j, c in enumerate(row) \
                    if c != '.'], [])

    return len(seen) == len(set(seen))

Finding if valid sudoko using 'any'

In [102]:
seen2 = set()

In [117]:
any([x in seen2 or seen2.add(x)
                   for i, row in enumerate(sodoku1)
                   for j, c in enumerate(row)
                   if c != '.'
                   for x in ((c, i), (j, c), (i/3, j/3, c))])

True

In [ ]:
def isValidSudoku(self, board):
    seen = set()
    return not any(x in seen or seen.add(x)
                   for i, row in enumerate(board)
                   for j, c in enumerate(row)
                   if c != '.'
                   for x in ((c, i), (j, c), (i/3, j/3, c)))

In [110]:
a = set([1, 2, 3])

In [111]:
a

{1, 2, 3}

In [112]:
1 in a

True

In [113]:
a.add(2)

In [114]:
a

{1, 2, 3}

In [115]:
a.add(4)

In [116]:
a

{1, 2, 3, 4}

**Rotate matrix in-place**

In [50]:
matrix =[
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

In [44]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
matrixTransposed = list(zip(*matrix))

In [8]:
matrixTransposed

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [22]:
matrixTransposedList = list(map(list, matrixTransposed))

In [23]:
matrixTransposedList

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [15]:
[1, 4, 7].reverse()

In [30]:
list(map(lambda x: x.reverse(), list(map(list, list(zip(*matrix))))))

[None, None, None]

In [25]:
matrixTransposedList

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

In [29]:
matrixTransposed

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [35]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
list(zip(*matrix))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [34]:
list(reversed(list(zip(*matrix))))

[(3, 6, 9), (2, 5, 8), (1, 4, 7)]

In [51]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
matrix[::-1]

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [45]:
matrix[::] = map(list,zip(*matrix[::-1]))

In [46]:
matrix

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

In [47]:
matrix =[
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

In [49]:
matrix[::] = list(map(lambda x: list(reversed(x)), list(map(list, list(zip(*matrix))))))

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

**Symmetric tree**

Given a binary tree, check whether it is a mirror of itself (ie, symmetric around its center).

For example, this binary tree [1,2,2,3,4,4,3] is symmetric:

In [ ]:
# Definition for a binary tree node.
# class TreeNode:
#     def __init__(self, x):
#         self.val = x
#         self.left = None
#         self.right = None

class Solution:
    def isSymmetric(self, root):
        """
        :type root: TreeNode
        :rtype: bool
        """
        
        def isSym(L, R):
            
            if not L and not R:
                
                return True
            
            if L and R and L.val == R.val:
                
                return isSym(L.left, R.right) and isSym(L.right, R.left)
            
            return False
        
        if not root:
            
            return True
        
        L = root.left
        R = root.right
        
        return isSym(L, R)

**Shuffle an array**

Shuffle a set of numbers without duplicates

Esentially implement your own version of shuffle.

In [155]:
import random

In [156]:
class Solution:
    
    def __init__(self, nums):
        self.reset = lambda: nums
        self.shuffle = lambda: random.sample(nums, len(nums))

In [157]:
obj = Solution([1, 2, 3, 5])

In [158]:
obj.reset()

[1, 2, 3, 5]

In [160]:
obj.shuffle()

[5, 3, 2, 1]

In [139]:
nums = [1, 2, 3, 5]

In [142]:
random.shuffle(nums)

In [141]:
nums

[5, 1, 3, 2]

In [171]:
nums

[1, 3, 2, 5]

In [153]:
import random

In [170]:
ans = nums[:]                     # copy list
for i in range(len(ans)-1, 0, -1):     # start from end
    j = random.randrange(0, i+1) # generate random index 
    print("i = ", i)
    print("j = ", j)
    ans[i], ans[j] = ans[j], ans[i] # swap
ans

i =  3
j =  1
i =  2
j =  2
i =  1
j =  1

[1, 5, 2, 3]

In [174]:
ans = nums[:]                     # copy list
for i in range(len(ans)):     # start from end
    j = random.randrange(0, i+1) # generate random index 
    print("i = ", i)
    print("j = ", j)
    ans[i], ans[j] = ans[j], ans[i] # swap
ans

i =  0
j =  0
i =  1
j =  1
i =  2
j =  0
i =  3
j =  3

[2, 3, 1, 5]

In [182]:
ans = nums[:]                     # copy list
for i in range(len(ans)):     # start from end
    j = random.randint(0, len(ans)-1) # generate random index 
    print("i = ", i)
    print("j = ", j)
    ans[i], ans[j] = ans[j], ans[i] # swap
ans

i =  0
j =  1
i =  1
j =  0
i =  2
j =  1
i =  3
j =  0

[5, 2, 3, 1]

In [165]:
random.sample(nums, len(nums))

[5, 3, 1, 2]

In [ ]:
class Solution:

    def __init__(self, nums):
        """
        :type nums: List[int]
        """
        
        self.nums = nums
        

    def reset(self):
        """
        Resets the array to its original configuration and return it.
        :rtype: List[int]
        """
        
        return self.nums
        

    def shuffle(self):
        """
        Returns a random shuffling of the array.
        :rtype: List[int]
        """
        
        return random.sample(self.nums, len(self.nums))

random.sample(population, k)

Return a k length list of unique elements chosen from the population sequence or set. Used for random sampling without replacement. Returns a new list containing elements from the population while leaving the original population unchanged.

To choose a sample from a range of integers, use a range() object as an argument. This is especially fast and space efficient for sampling from a large population: sample(range(10000000), k=60).

If the sample size is larger than the population size, a ValueError is raised.

**Roman to Integer**

In [183]:
s = '123'

In [189]:
s[3:4]

''

The slice notation is a pretty nifty way to handle the end of the string

In [190]:
bool(s[3:4])

False

In [191]:
s[2:3]

'3'

In [192]:
bool(s[2:3])

True

In [ ]:
class Solution:
    def romanToInt(self, s):
        
        """
        :type s: str
        :rtype: int
        """
        
        roman = {'I': 1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, 'M':1000}
        
        i = 0
        res = 0
        
        while i < len(s):
            
            curr = s[i]
            nxt = s[i+1:i+2]
            
            if nxt and roman[curr] < roman[nxt]:
                
                res -= roman[curr]
                
            else:
                
                res += roman[curr]
                
            i += 1
                
        return res

The above code a bit inefficient since the 'nxt' variable is checked each time.

In [193]:
for i in range(5, 0, -1):
    
    print("i = ", i)

i =  5
i =  4
i =  3
i =  2
i =  1

**Generating Pascal's triangle**

In [195]:
from operator import add

In [196]:
res = [[1]]

In [199]:
a = res[-1] + [0]
a

[1, 0]

In [201]:
b = [0] + res[-1]
b

[0, 1]

In [202]:
a + b

[1, 0, 0, 1]

In [205]:
list(map(lambda x, y: x + y, a ,b))

[1, 1]

In [206]:
numRows = 3

In [212]:
res = [[1]]

for i in range(1, numRows):
    
    res = res + [list(map(lambda x, y: x + y, [0] + res[-1], res[-1] + [0]))]

In [210]:
res

[[1], [1, 1], [1, 2, 1]]

In [ ]:
def generate(numRows):
        
        """
        :type numRows: int
        :rtype: List[List[int]]
        """
        
        if numRows > 0:
        
            res = [[1]]

            for i in range(1, numRows):

                res += [list(map(lambda x, y: x + y, [0] + res[-1], res[-1] + [0]))]

            return res
        
        return []

## Medium collection from Leetcode

#### Group anagrams

Given an array of strings, group anagrams together.

Input: ["eat", "tea", "tan", "ate", "nat", "bat"]

Output:
[
  ["ate","eat","tea"],
  ["nat","tan"],
  ["bat"]
]

In [214]:
from collections import Counter

In [215]:
dList = list(map(Counter,  ["eat", "tea", "tan", "ate", "nat", "bat"]))

In [216]:
dList

[Counter({'a': 1, 'e': 1, 't': 1}),
 Counter({'a': 1, 'e': 1, 't': 1}),
 Counter({'a': 1, 'n': 1, 't': 1}),
 Counter({'a': 1, 'e': 1, 't': 1}),
 Counter({'a': 1, 'n': 1, 't': 1}),
 Counter({'a': 1, 'b': 1, 't': 1})]

In [217]:
dList[0] == dList[1]

True

In [219]:
dList[0] != dList[1]

False

In [220]:
dList[0] == dList[-1]

False

In [223]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "tt"]

In [224]:
[tuple(sorted(s)) for s in strs]

[('a', 'e', 't'),
 ('a', 'e', 't'),
 ('a', 'n', 't'),
 ('a', 'e', 't'),
 ('a', 'n', 't'),
 ('a', 'b', 't'),
 ('t', 't')]

In [225]:
[tuple(sorted(s)) for s in strs]

[('a', 'e', 't'),
 ('a', 'e', 't'),
 ('a', 'n', 't'),
 ('a', 'e', 't'),
 ('a', 'n', 't'),
 ('a', 'b', 't'),
 ('t', 't')]

In [234]:
count = Counter([tuple(sorted(s)) for s in strs])

In [235]:
count

Counter({('a', 'b', 't'): 1,
         ('a', 'e', 't'): 3,
         ('a', 'n', 't'): 2,
         ('t', 't'): 1})

In [236]:
Counter([tuple(s) for s in strs])

Counter({('a', 't', 'e'): 1,
         ('b', 'a', 't'): 1,
         ('e', 'a', 't'): 1,
         ('n', 'a', 't'): 1,
         ('t', 'a', 'n'): 1,
         ('t', 'e', 'a'): 1,
         ('t', 't'): 1})

In [255]:
d = {}
for w in strs:
    key = tuple(sorted(w))
    d[key] = d.get(key, []) + [w]

In [241]:
sorted(strs)

['ate', 'bat', 'eat', 'nat', 'tan', 'tea', 'tt']

In [242]:
strs

['eat', 'tea', 'tan', 'ate', 'nat', 'bat', 'tt']

In [244]:
d

{('a', 'b', 't'): ['bat'],
 ('a', 'e', 't'): ['eat', 'tea', 'ate'],
 ('a', 'n', 't'): ['tan', 'nat'],
 ('t', 't'): ['tt']}

In [246]:
d

{('a', 'b', 't'): [], ('a', 'e', 't'): [], ('a', 'n', 't'): [], ('t', 't'): []}

In [248]:
d

{('a', 'b', 't'): None,
 ('a', 'e', 't'): None,
 ('a', 'n', 't'): None,
 ('t', 't'): None}

In [252]:
d

{('a', 'b', 't'): ['bat'],
 ('a', 'e', 't'): ['ate'],
 ('a', 'n', 't'): ['nat'],
 ('t', 't'): ['tt']}

In [256]:
d

{('a', 'b', 't'): ['bat'],
 ('a', 'e', 't'): ['eat', 'tea', 'ate'],
 ('a', 'n', 't'): ['tan', 'nat'],
 ('t', 't'): ['tt']}

In [258]:
d.values()

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['tt']])

In [259]:
list(d.values())

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['tt']]

**Method 2 for grouped anagrams**

In [262]:
w = 'tea'

In [263]:
sorted(w)

['a', 'e', 't']

In [264]:
''.join(sorted(w))

'aet'

In [265]:
tuple(sorted(w))

('a', 'e', 't')

In [281]:
d2 = {}
d3 = {}
d4 = {}
d5 = {}

for w in strs:
    
    d2.setdefault(''.join(sorted(w)), []).append(w)
    
    d3.setdefault(''.join(sorted(w)), []) + [w]
    
    d4[''.join(sorted(w))] = d4.get(''.join(sorted(w)), []) + [w]
    
    d5[''.join(sorted(w))] = d4.get(''.join(sorted(w)), []).append(w)

In [282]:
d2

{'abt': ['bat'],
 'aet': ['eat', 'tea', 'ate'],
 'ant': ['tan', 'nat'],
 'tt': ['tt']}

In [283]:
d3

{'abt': [], 'aet': [], 'ant': [], 'tt': []}

In [284]:
d4

{'abt': ['bat', 'bat'],
 'aet': ['eat', 'eat', 'tea', 'tea', 'ate', 'ate'],
 'ant': ['tan', 'tan', 'nat', 'nat'],
 'tt': ['tt', 'tt']}

In [285]:
d5

{'abt': None, 'aet': None, 'ant': None, 'tt': None}

In [271]:
[3] + [4]

[3, 4]

In [273]:
k = [3].append(4)