### Ref. Leetcode

**Pivot index**

We define the pivot index as the index where the sum of the numbers to the left of the index is equal to the sum of the numbers to the right of the index.

If no such index exists, we should return -1. If there are multiple pivot indexes, you should return the left-most pivot index.

In [9]:
def pivotIndex(nums):
    
    sumnum = sum(nums)
    
    leftsum = 0
    
    for i, num in enumerate(nums):
        
        sumnum = sumnum - num
        
        if sumnum == leftsum:
            
            return i
        
        leftsum = leftsum + num
        
    return -1

In [10]:
pivotIndex([1, 7, 3, 6, 5, 6])

3

**Largest number at least twice as of others**

In a given integer array nums, there is always exactly one largest element.
Find whether the largest element in the array is at least twice as much as every other number in the array.
If it is, return the index of the largest element, otherwise return -1.

In [13]:
sorted([1, 7, 3, 6, 5, 6])

[1, 3, 5, 6, 6, 7]

In [14]:
nums = [1, 7, 3, 6, 5, 6]

In [22]:
d = dict(zip(range(len(nums)),nums))

In [23]:
d

{0: 1, 1: 7, 2: 3, 3: 6, 4: 5, 5: 6}

In [26]:
%%timeit
next(key for key, value in d.items() if value == 7)

575 ns ± 5.37 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [28]:
%%timeit
[key for key, value in d.items() if value == 7][0]

587 ns ± 3.08 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [29]:
next(key for key, value in d.items() if value == 7)

1

In [30]:
nums = [0, 0, 0, 1]

In [32]:
numsDict = dict(zip(range(len(nums)), nums))

In [35]:
def dominantIndex(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        if len(nums) > 1:
        
            numsDict = dict(zip(range(len(nums)), nums))

            numsSorted = sorted(nums)


            if numsSorted[-1] >= 2 * numsSorted[-2]:

                return next(key for key, value in numsDict.items() if value == numsSorted[-1])
            
        if len(nums) == 1:
            
            return 0
        
        return -1

In [36]:
nums = [1, 7, 3, 6, 5, 6]

In [38]:
nums.index(max(nums))

1

In [39]:
def dominantIndex(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        numsSorted = sorted(nums)
        
        maxElem = numsSorted[-1]
        
        maxInd = nums.index(maxElem)
        
        if len(nums) == 1:
            
            return 0
        
        if maxElem >= 2 * numsSorted[-2]:
            
            return maxInd
        
        return -1

The above method is much faster than the previous one and also doesn't introduce space complexity of the dictionary

**Converting a digit to list of integers**

In [40]:
num = 123

In [44]:
[int(d) for d in str(num)]

[1, 2, 3]

**Converting a list of integers to a digit**

In [45]:
d = [1, 2, 3]

In [47]:
list(map(str, d))

['1', '2', '3']

In [53]:
m = map(str, d)

In [49]:
''.join(m)

'123'

In [59]:
''.join(list(map(str, d)))

'123'

In [60]:
int(''.join(list(map(str, d))))

123

**argsort in basic python**

In [61]:
seq = [1, 7, 3, 6, 5, 6]

In [64]:
seq.__getitem__

In [68]:
sorted(range(len(seq)), key=seq.__getitem__)

[0, 2, 4, 3, 5, 1]

In [70]:
list(enumerate(seq))

[(0, 1), (1, 7), (2, 3), (3, 6), (4, 5), (5, 6)]

In [72]:
sorted(enumerate(seq), key = lambda x: x[1])

[(0, 1), (2, 3), (4, 5), (3, 6), (5, 6), (1, 7)]

In [73]:
sorted(list(enumerate(seq)), key = lambda x: x[1])

[(0, 1), (2, 3), (4, 5), (3, 6), (5, 6), (1, 7)]

In [74]:
[i for i, v in sorted(enumerate(seq), key = lambda x: x[1])]

[0, 2, 4, 3, 5, 1]

In [75]:
[i for (i, v) in sorted(enumerate(seq), key = lambda x: x[1])]

[0, 2, 4, 3, 5, 1]

In [77]:
sorted([(v, i) for (i, v) in enumerate(seq)])

[(1, 0), (3, 2), (5, 4), (6, 3), (6, 5), (7, 1)]

In [78]:
[i for (v, i) in sorted([(v, i) for (i, v) in enumerate(seq)])]

[0, 2, 4, 3, 5, 1]

**Diagonal transversal of a 2D array**

In [86]:
A = [[1, 2, 3], [4, 5, 6]]

In [82]:
A[0][1]

2

In [87]:
len(A)

2

In [88]:
len(A[0])

3

**Add binary strings**

In [89]:
a = '1010'
b = '1011'

In [91]:
int(a, 2)

10

In [95]:
int('10',2)

2

In [96]:
bin(10)

'0b1010'

In [98]:
bin(int(a, 2) + int(b, 2))

'0b10101'

In [99]:
bin(int(a, 2) + int(b, 2))[2:]

'10101'

**Find needle in haystack problem**

In [101]:
haystack = "hello"
needle = "ll"

In [102]:
haystack.find(needle)

2

In [104]:
haystack = "aaaaa"
needle = "bba"

In [105]:
haystack.find(needle)

-1

In [108]:
haystack = "aaaaa"
needle = ""

In [109]:
haystack.find(needle)

0

In [110]:
haystack = "aaaaa"
needle = None

In [112]:
haystack.find(needle)

TypeError: must be str, not NoneType

**Finding the longest common prefix**

In [126]:
lstr = ["flower","flow","flight"]

In [121]:
min(lstr, key = len)

'flow'

In [122]:
smallestStr = min(lstr, key = len)

In [123]:
lmin = len(smallestStr)

In [124]:
lmin

4

In [141]:
k = lmin

while k > 0:
    
    for string in lstr:
        
        print("string: ", string)
        print("string[0:k]: ", string[0:k])
        print("smallestStr[0:k]:", smallestStr[0:k])
        
        if string[0:k] != smallestStr[0:k]:
            
            k -= 1
        
        return smallestStr[0:k]

SyntaxError: 'return' outside function (<ipython-input-141-1990af578cf6>, line 15)

In [129]:
lstr

['flower', 'flow', 'flight']

In [133]:
lstr = ['flower', 'flow', 'flight', 'flossy']

In [134]:
for string in lstr:
        
        print("string: ", string)
        print("string[0:k]: ", string[0:k])
        print("smallestStr[0:k]:", smallestStr[0:k])
        
        if string[0:k] != smallestStr[0:k]:
            
            k -= 1

string:  flower
string[0:k]:  flo
smallestStr[0:k]: flo
string:  flow
string[0:k]:  flo
smallestStr[0:k]: flo
string:  flight
string[0:k]:  fli
smallestStr[0:k]: flo
string:  flossy
string[0:k]:  fl
smallestStr[0:k]: fl

In [135]:
k

2

In [150]:
k = lmin
#lstr = ["flower","flow","flight"]
lstr = ["dog","racecar","car"]


for string in lstr:
        
#         print("string: ", string)
#         print("string[0:k]: ", string[0:k])
#         print("smallestStr[0:k]:", smallestStr[0:k])
        
        while k > 0 and string[0:k] != smallestStr[0:k]:
            
            k -= 1
            
print("smallestStr[0:k]:", smallestStr[0:k])

smallestStr[0:k]:

In [144]:
strs = ['flower', 'flow', 'flight', 'flossy']

In [151]:
def longestCommonPrefix(strs):
        """
        :type strs: List[str]
        :rtype: str
        """
        
        if len(strs) > 0:
        
            smallestStr = min(strs, key=len)

            lmin = len(smallestStr)

            k = lmin

            for string in strs:

                while k > 0 and string[0:k] != smallestStr[0:k]:

                    k -= 1

            return smallestStr[0:k]
        
        else:
            
            return ''

In [152]:
longestCommonPrefix(strs)

'fl'

**Reversing a string**

In [153]:
s = 'hello'

In [157]:
''.join(list(reversed(s)))

'olleh'

In [158]:
s[::-1]

'olleh'

In [159]:
''.join(reversed(s))

'olleh'

In [163]:
[element for element in s]

['h', 'e', 'l', 'l', 'o']

In [165]:
s.split()

['hello']

In [166]:
list(s)

['h', 'e', 'l', 'l', 'o']

Given an array of 2n integers, your task is to group these integers into n pairs of integer, say (a1, b1), (a2, b2), ..., (an, bn) which makes sum of min(ai, bi) for all i from 1 to n as large as possible.

In [167]:
nums = [1 , 4, 3, 2]

In [168]:
numSorted = sorted(nums)

In [169]:
numSorted

[1, 2, 3, 4]

In [170]:
numSorted[::2]

[1, 3]

In [171]:
sum(numSorted[::2])

4

In [172]:
def arrayPairSum(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        numsSorted = sorted(nums)
        
        return sum(numsSorted[::2])

Given an array of integers that is already sorted in ascending order, find two numbers such that they add up to a specific target number.

In [183]:
nums = [1,2, 5,9 ,15, 20]

l = 0
r = len(nums) - 1

target = 14

while l < r:
    
    sum2 = nums[l] + nums[r]
    
    print("sum2 = ", sum2)
    
    if sum2 > target:
        
        r -= 1
        
    elif sum2 < target:
        
        l += 1
    
    else:
        
        print(l+1, r+1)
        
        break;
    
print(-1)

sum2 =  21
sum2 =  16
sum2 =  10
sum2 =  11
sum2 =  14
3 4
-1

In [184]:
def twoSum(numbers, target):
        """
        :type numbers: List[int]
        :type target: int
        :rtype: List[int]
        """
        
        l = 0
        
        r = len(numbers) - 1
        
        while l < r:
            
            sum2num = numbers[l] + numbers[r]
            
            if sum2num < target:
                
                l += 1
                
            elif sum2num > target:
                
                r -= 1
                
            else:
                
                return l+1, r+1
            
        return -1

**Removing element from a list**

In [185]:
nums = [1, 2, 2, 3]

In [189]:
nums.delete(2)

AttributeError: 'list' object has no attribute 'delete'

In [193]:
nums = [3, 2, 2, 3]

In [194]:
len(list(filter(lambda x: x!= 3, nums)))

2

In [195]:
nums

[3, 2, 2, 3]

In [196]:
while 2 in nums:
    
    nums.remove(2)

In [197]:
nums

[3, 3]

In [198]:
[elem for elem in nums if elem != 2]

[3, 3]

Find the maximum consecutive ones

In [199]:
nums = [1, 1, 0, 1, 1, 1]

In [201]:
numsJoined = ''.join(map(str,nums))

In [202]:
numsJoined

'110111'

In [204]:
numsSplit = numsJoined.split('0')

In [205]:
numsSplit

['11', '111']

In [206]:
list(map(len,numsSplit))

[2, 3]

In [207]:
max(map(len,numsSplit))

3

In [208]:
def findMaxConsecutiveOnes(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        
        numsJoined = ''.join(map(str, nums))
        
        numsSplit = numsJoined.split('0')
        
        return max(map(len, numsSplit))

In [209]:
def findMaxConsecutiveOnes(nums):
        
        """
        :type nums: List[int]
        :rtype: int
        """
        
        count = 0
        list1 = []
        
        for num in nums:
            if num == 1:
                count +=1
            else:
                list1.append(count)
                count = 0
        list1.append(count)
        
        return max(list1)

**Reverse integer**

In [218]:
x = 120

In [219]:
int(str(x)[::-1])

21

In [220]:
2**31

2147483648

In [222]:
def reverse(x):
    """
    :type x: int
    :rtype: int
    """

    if x == 0:

        return x

    signx = int(x / abs(x))

    output = signx * int(str(abs(x))[::-1])

    if output < (-2)**31 or output > 2**31 - 1:

        return 0

    return output

In [223]:
3%2

1

**Rotate an array**

In [235]:
def rotate(nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        
        numscopy = nums[:]
        
        for i in range(len(nums)):
            
            nums[i] = numscopy[(i - k) % len(numscopy)]

In [236]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [237]:
rotate(nums, 3)

In [238]:
nums

[5, 6, 7, 1, 2, 3, 4]

Intersection of two lists

In [251]:
nums2 = [1, 2, 2, 1, 3, 5, 6, 7, 4]

In [252]:
nums1 = [10, 2, 2, 3, 4]

In [253]:
[num for num in nums1 if num in nums2]

[2, 2, 3, 4]

In [254]:
nums1 = [1, 2, 2, 1]

In [255]:
nums2 = [2]

In [257]:
[num for num in nums2 if num in nums1]

[2]

if len(nums1) <= len(nums2):

    x = nums1
    y = nums2

else:

    x = nums2
    y = nums1

return [num for num in x if num in y]

In [260]:
from collections import Counter

In [264]:
list(Counter(nums1).elements())

[1, 1, 2, 2]

In [265]:
Counter(nums1)

Counter({1: 2, 2: 2})

In [278]:
a, b = map(Counter, ([1, 2, 2, 1], [2, 2, 2]))

In [279]:
a

Counter({1: 2, 2: 2})

In [280]:
b

Counter({2: 3})

In [289]:
type(a)

collections.Counter

In [281]:
a & b

Counter({2: 2})

In [284]:
list((a & b).elements())

[2, 2]

In [285]:
d1 = {'a': 2, 'b': 3, 'c': 4, 'd': 3}

In [286]:
d2 = {'a':3, 'c':2, 'e':5}

In [291]:
d1.items() & d2.items()

set()

In [292]:
d1.keys() & d2.keys()

{'a', 'c'}

In [294]:
d2.values()

dict_values([3, 2, 5])

In [295]:
d2.keys()

dict_keys(['a', 'c', 'e'])

In [296]:
type(d2.keys())

dict_keys

In [299]:
d1

{'a': 2, 'b': 3, 'c': 4, 'd': 3}

In [300]:
d2

{'a': 3, 'c': 2, 'e': 5}

In [298]:
Counter(d1) & Counter(d2)

Counter({'a': 2, 'c': 2})

In [301]:
import numpy as np

In [304]:
np.intersect1d([1, 2, 2, 1], [2, 2, 3, 1, 1])

array([1, 2])

Numpy intersect returns set

In [305]:
def intersect(nums1, nums2):
        """
        :type nums1: List[int]
        :type nums2: List[int]
        :rtype: List[int]
        """
        
        from collections import Counter
        
        c1 = Counter(nums1)
        
        c2 = Counter(nums2)
        
        
        
        return list((c1 & c2).elements())